{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_assign/grading_panel

    Shown a place holder until the real content is fetched via ajax.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * None

    Context variables required for this template:
    * None

    This template loads it's content via ajax, so it cannot be shown in the template library.
}}
{{> mod_assign/loading }}
{{#js}}
require(['mod_assign/grading_panel'], function(GradingPanel) {
    //new GradingPanel('[data-region="grade"]');
    $(document).on('click', '#grade_gradebook_label', function(){
        if($(this).hasClass('collapsed')){
            $('.gradingform .gradeform .grade_gradebook').show();
        }else{
            $('.gradingform .gradeform .grade_gradebook').hide();
        }
        $(this).toggleClass('collapsed');
        $(this).toggleClass('expanded');
    });
});

{{/js}}
