{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_assign/grading_actions

    Actions panel at the bottom of the assignment grading UI.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * data-region

    Context variables required for this template:
    * see mod/assign/classes/output/grading_app.php

    This template is initially hidden, and is only displayed after the current user info has been loaded.
}}
{{#showreview}}
<div class="btn-toolbar collapse-buttons">
    <div class="btn-group">
        <button type="button" class="btn btn-secondary collapse-review-panel">{{#pix}} layout-expand-right, mod_assign, {{#str}} collapsereviewpanel, mod_assign {{/str}} {{/pix}}</button>
        <button type="button" class="btn btn-secondary collapse-none active">{{#pix}} layout-default, mod_assign, {{#str}} defaultlayout, mod_assign {{/str}} {{/pix}}</button>
        <button type="button" class="btn btn-secondary collapse-grade-panel">{{#pix}} layout-expand-left, mod_assign, {{#str}} collapsegradepanel, mod_assign {{/str}} {{/pix}}</button>
    </div>
</div>
{{/showreview}}
<form data-region="grading-actions-form" class="hide">
    <label>{{#str}}sendstudentnotifications, mod_assign{{/str}}
           <input type="checkbox" name="sendstudentnotifications"
                  {{#defaultsendnotifications}}checked="checked"{{/defaultsendnotifications}} />
    </label>
    <button type="submit" class="btn btn-primary" name="savechanges">{{#str}}savechanges{{/str}}</button>
    <button type="submit" class="btn btn-secondary" name="savechanges_next_user">{{#str}}savechanges_next_user, theme_primaryisf{{/str}}</button>

    <button type="submit" class="btn btn-secondary" name="resetbutton">{{#str}}reset{{/str}}</button>
</form>
{{#js}}
require(['mod_assign/grading_actions'], function(GradingActions) {
    new GradingActions('[data-region="grade-actions"]');
});


require(['mod_assign/grading_panel','core/str','core/notification', 'mod_assign/grading_form_change_checker'], function(GradingPanel,str,notification,checker) {
    var GradingPanel = new GradingPanel('[data-region="grade"]');

    GradingPanel._handleFormSubmissionResponse = function(formdata, nextUserId, response) {
        if (typeof nextUserId === "undefined") {
            nextUserId = this._lastUserId;
        }
        if (response.length) {
            // There was an error saving the grade. Re-render the form using the submitted data so we can show
            // validation errors.
            $(document).trigger('reset', [this._lastUserId, formdata]);
        } else {
            str.get_strings([
                {key: 'changessaved', component: 'core'},
                {key: 'gradechangessaveddetail', component: 'mod_assign'},
            ]).done(function(strs) {
                checker.saveFormState('[data-region="grade-panel"] .gradeform');
                document.querySelectorAll('[data-action="next-user"]')[0].click();
            }).fail(notification.exception);
            Y.use('moodle-core-formchangechecker', function() {
                M.core_formchangechecker.reset_form_dirty_state();
            });
            if (nextUserId == this._lastUserId) {
                $(document).trigger('reset', nextUserId);
            } else {
                $(document).trigger('user-changed', nextUserId);
            }
        }
        $('[data-region="overlay"]').hide();
    };

    $('[name="savechanges_next_user"]').click(function (e) {
        GradingPanel._submitForm(GradingPanel);
    });
    $(document).bind('click', function(e){
        if($(e.target).parent().is('[data-region="popout-button"]')){
            GradingPanel._togglePopout(e);
        }
    });

});
{{/js}}
