// This file is intentionally empty.

.navbar-light {background-color: $navbar-background-color;border-bottom: 4px solid $navbar-border-color;}
.flat-nav .list-group-item{color: $flatmenu-color;}
.flat-nav .list-group-item.active{color: $flatmenu-active-color;background-color: $flatmenu-active-bg;}
.flat-nav .list-group-item:focus,
.flat-nav .list-group-item:hover {color: $flatmenu-hover-color; background-color: $flatmenu-hover-bg;}
[data-region="drawer"]{background-color: $drawer-bg;}

.frontpage-course-list-all{margin-left: 0!important;margin-right: 0!important;}
.frontpage-course-list-all h3{text-align: left;padding-left: 15px;}
.frontpage-course-list-all .carousel{ position: relative;}
.frontpage-course-list-all .carousel_inner{margin: 0!important; padding:0!important; height:130px; overflow: hidden;}
.frontpage-course-list-all .carousel_inner .coursebox{width: 145px; max-width:100%;margin: 0; opacity:0.9; display: block; float: left;margin-right: 2px;}
.frontpage-course-list-all .carousel_inner .coursebox h4.coursecat{ min-height:13px;}
.frontpage-course-list-all .carousel-control{width: 3%; line-height:130px;margin: 0; cursor: pointer;background: none;}
.frontpage-course-list-all .coursebox a.like-course{font-size: 0.9em;margin: 0.65rem;}
.frontpage-course-list-all .hide-course-carousel{color: #333;opacity: 0.6;position: absolute;right: 15px;transition: all 0.3s;font-size: 16px;}
.frontpage-course-list-all .hide-course-carousel:hover{opacity: 0.9;}
.frontpage-course-list-all .carousel{height: 130px;overflow: hidden;transition: all 0.5s ease 0s;}
.frontpage-course-list-all .carousel.carousel-hidden{height: 0;}
#page-footer {background-color: $footer-background-color;border-top-color: $footer-border-color;}
[data-region="drawer"] {height: calc(100% - 50px); top: 50px;}
#nav-drawer.closed {left: -75px;}
.full-header .crumbs-region {transition: all 0.5s ease 0s;width: 100%;}
.block_sb_badges.block .card-text.content .block-side-item:first-child .sub-title:first-child{box-shadow: 2px 0 0 0 #fff;}
.main-calendar-box .calendar .fc-toolbar .fc-button.fc-state-default.fc-state-active{border-bottom-color: $body-bg;}

.pagelayout-frontpage #region-main > .card {min-height: 0;}
.pagelayout-frontpage #block-region-side-pre { margin-top: 0;}

/*
.navbar-light {background-color: #042d40;border-bottom: 4px solid #042d40;}
.flat-nav .list-group-item{color: #fff;}
.flat-nav .list-group-item.active{background-color: #017bb0;}
[data-region="drawer"]{background-color: #075b7f;}

.frontpage-course-list-all{margin-left: 0!important;margin-right: 0!important;}
.frontpage-course-list-all h3{text-align: left;padding-left: 15px;}
.frontpage-course-list-all .carousel{ position: relative;}
.frontpage-course-list-all .carousel_inner{margin: 0!important; padding:0!important; height:130px; overflow: hidden;}
.frontpage-course-list-all .carousel_inner .coursebox{width: 145px; max-width:100%;margin-top: 0;margin-bottom: 0; opacity:0.9;}
.frontpage-course-list-all .carousel-control{width: 5%; line-height:130px;margin: 0; cursor: pointer;}
.flat-nav .list-group-item:focus,
.flat-nav .list-group-item:hover {background-color: #017bb0; color: #fff;}
#page-footer {background-color: #042d40;border-top-color: #042d40;}
[data-region="drawer"] {height: calc(100% - 48px); top: 48px;}
#nav-drawer.closed {left: -75px;}
.full-header .crumbs-region {transition: all 0.5s ease 0s;width: 100%;}
*/