/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #00acdf !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             50px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f5f5f5 !default;
$body-color: #3a3a3a !default;

// Typography
$font-family-sans-serif: "Helvetica Neue", Arial, sans-serif !default;
$font-size-root: 14px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #e7e7e7 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            rgba(0, 0, 0, .535) !default;
$header-dropdown-color:          #565656 !default;
$header-dropdown-hover-color:    #ffffff !default;
$header-dropdown-hover-bg:       #A4C9E0 !default;
$header-dropdown-border-color:   #e5e5e5 !default;
$header-dropdown-bg:             #f8f8f8 !default;

// Navbar
$navbar-light-color:                rgba(0, 0, 0, .535) !default;
$navbar-light-hover-color:          $brand-primary !default;
$navbar-light-active-color:         $brand-primary !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        #c7c7c7 !default;
$region-main-margin: 20px;

// Breadcrumbs
$breadcrumb-bg:             transparent !default;
$breadcrumb-region-bg:      linear-gradient(top, #ffffff 0%, #f0f0f0 100%);;
$breadcrumb-border-color:   #C7C7C7;
$breadcrumb-link-color:     #555555;
$breadcrumb-text-color:     #999999;
$breadcrumb-padding-x:      1rem !default;
$breadcrumb-divider:        "\f105" !default;
$breadcrumb-divider-rtl:    "\f104" !default;
$breadcrumb-actions-color:  #555555 !default;
$breadcrumb-actions-bg-hover:  #fafafa !default;
$breadcrumb-actions-color-hover:  #333333 !default;
$breadcrumb-height:         32px;

// custom colors
// navbar
$navbar-background-color: #5fa7d0 !default;
$navbar-border-color: #A4C9E0 !default;
$navbar-border-width: 4px !default;
$navbar-text-color: #ffffff !default;
$navbar-text-color-hover: #ffffff !default;

// sidebar
$flatmenu-color: #555555 !default;
$flatmenu-hover-color: #5fa7d0 !default;
$flatmenu-bg: transparent !default;
$flatmenu-hover-bg: #FCFCFC !default;
$flatmenu-active-color: #ffffff !default;
$flatmenu-active-bg: #5fa7d0 !default;
$sidebar-border-color: #e7e7e7 !default;
$sidebar-block-header-bg: #5FA7D0 !default;
$sidebar-block-header-color: #ffffff !default;
$sidebar-block-bg: #ffffff !default;

// Import everything.
@import "moodle";

@mixin rgba-background($hexcolor, $opacity) {
  background-color: $hexcolor;
  background-color: rgba($hexcolor, $opacity);
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow:$top $left $blur $color;
  -moz-box-shadow:$top $left $blur $color;
  box-shadow:$top $left $blur $color;
}

/**
 * Custom classes
 */
.bg-light-info {
    @include rgba-background($brand-info, 0.3);
    td {
        @include rgba-background($brand-info, 0.3);
    }
}
.bg-light-success {
    @include rgba-background($brand-success, 0.3);
    td {
        @include rgba-background($brand-success, 0.3);
    }
}
.bg-light-warning {
    @include rgba-background($brand-warning, 0.3);
    td {
        @include rgba-background($brand-warning, 0.3);
    }
}
.bg-light-danger {
    @include rgba-background($brand-danger, 0.3);
    td {
        @include rgba-background($brand-danger, 0.3);
    }
}


/**
 * Navigation bar identity.
 */
.navbar-light {
    background-color: $navbar-background-color;
    min-height: 50px;
    padding: 0;
    z-index: 1040;

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1.5rem;
        margin-right: 0;
        margin-top: 5px;
        margin-bottom: -3px;
        margin-left: 8px;
        color: $navbar-text-color;
        background-color: $brand-primary;
        @include hover-focus {
            color: $navbar-text-color;
        }
        &.has-logo {
            color: $navbar-text-color;
            background-color: transparent;
            @include hover-focus {
                color: $navbar-text-color;
            }
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-size: $font-size-sm;
            letter-spacing: 1px;
        }
    }

    .action-menu {
        .dropdown-toggle {
            display: block;
            height: 46px;
            line-height: 45px;
            padding: 0 15px;
            color: $navbar-text-color;
            font-size: 11px;
            font-weight: 600;
            @include hover-focus {
                background-color: rgba(255, 255, 255, 0.1);
                color: $navbar-text-color-hover;
            }
        }
        .dropdown-toggle {
            &::after {
                font-size: 14px;
            }
        }
    }

    .avatars {
        .userpicture {
            width: 19px;
            height: 19px;
        }
        .avatar.current {
            .userpicture {
                width: 24px;
                height: 24px;
                margin-right: 0.2rem;
                margin-left: 0.6rem;
            }
        }
    }

    .dropdown-menu {
        margin-top: 0;
    }
}

.container-fluid.navbar-nav {
    padding-right: 0;
}

/**
 * Styling the dropdown menus.
 */
.context-header-settings-menu .dropdown-menu {
    min-width: 200px;
}

.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    padding: 0;
    border: 1px solid $header-dropdown-border-color;
    div.dropdown-item {
        padding: 0;
    }
    a.dropdown-item,
    .dropdown-item .currentlink,
    div.dropdown-item a {
        font-size:11px;
        padding: 8px 10px;
        color: $header-dropdown-color;
        border-bottom: 1px solid $header-dropdown-border-color;
        text-overflow: ellipsis;
        overflow: hidden;
        &:last-child {
            border-bottom: 0;
        }
        @include hover-focus {
            background-color: $header-dropdown-hover-bg;
            color: $header-dropdown-hover-color;
            text-decoration: none;
        }
        .icon {
            font-size: 13px;
            line-height: 14px;
            margin: 0 0.2rem 0 0 !important;
            text-align: center;
        }
    }
    .dropdown-divider {
        display: none;
    }

    &::after {
        border-bottom: 5px solid $header-dropdown-bg;
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        content: "";
        display: inline-block;
        left: 50%;
        margin-left: -6px;
        position: absolute;
        top: -5px;
    }
}

/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0;
}

#page .col-xs-12 {
    padding: 0;
}

#block-region-side-pre {
    padding-left: 0;
    margin-top:65px;

    aside {
        margin-right: 2rem;
    }
    aside.block-region {
        margin-top: 65px;
    }
}
#page-footer ~ #block-region-side-pre{margin-top: 0;}
.course-navigation-block {
    margin-bottom: 1rem !important;
}
[region="sidebar-block-region"][role="block-courses"] {
    overflow-y: auto;
    max-height: calc(100% - 20px);
    position: relative;
}

.path-course-view #block-region-side-pre {
    aside {
        padding-top: 0;
    }
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}


/**
 * Breadcrumbs styles.
*/

.full-header {
    .crumbs-region {
        position: relative;
        margin-top: 4px;
        box-shadow: 0 1px 0 #FFFFFF;
        background: #f0f0f0;
        background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0));
        background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
        background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
        background: linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 );
        border-bottom: 1px solid $breadcrumb-border-color;
        transition: margin-left 0.5s ease 0s, margin-right 0.5s ease 0s;

        .breadcrumb {
            padding: 0 1rem;
            .breadcrumb-item {
                font-size: 11px;
                height: $breadcrumb-height;
                line-height: 32px;
                position: relative;
                color: $breadcrumb-text-color;
                a {
                    color: $breadcrumb-link-color;
                    line-height: 32px;
                }
            }
            .breadcrumb-item:first-child a {
                padding-left: 25px;
            }
            .breadcrumb-item:first-child {
                a {
                    font-weight: normal !important;
                    &::before {
                        font-family: "FontAwesome";
                        content: "\f015";
                        position: absolute;
                        font-size: 18px;
                        left: 0;
                        margin-top: -1px;
                        font-weight: normal;
                    }
                }
            }
            .breadcrumb-item:last-child {
                font-weight: 600;
                a {
                    font-weight: 600;
                }
                &::before {
                    font-weight: normal;
                }
            }
        }

        .breadcrumb-item + .breadcrumb-item{
            &::before {
                font-family: "FontAwesome";
                padding-left: 1rem;
                padding-right: 1rem;
                color: $breadcrumb-link-color;
            }
        }

        .breadcrumb-button {
            margin-top: 0;
            .btn {
                padding: 0 1rem;
                margin: 0;
                line-height: 32px;
                background: none;
                border: 0;
                border-radius: 0;
                font-size: 11px;
                font-weight: 600;
                color: $breadcrumb-actions-color;
                @include hover-focus {
                    text-decoration: underline;
                    color: $breadcrumb-actions-color-hover;
                    background-color: $breadcrumb-actions-bg-hover;
                }
            }
        }

        .context-header-settings-menu {
            margin: 0;
            height: auto;
            max-width: auto;
            .dropdown-toggle {
                padding: 1px 14px 1px 5px;
                line-height: 32px;
                height: 32px;
                .icon {
                    margin:0 !important;
                    padding: 0;
                    line-height: 22px;
                    height: 24px;
                    font-size: 14px;
                    color: $breadcrumb-actions-color;
                }
                &::before {
                    border: 0;
                    display:none;
                }
                &::after {
                    border: 0;
                    display:none;
                }
                @include hover-focus {
                    color: $breadcrumb-actions-color-hover;
                    background-color: $breadcrumb-actions-bg-hover;
                }
            }
        }
    }
}

.page-content {
    #region-main {
        margin: $region-main-margin $region-main-margin 0;
    }
}

.page-title {
    h3 {
        color: #464646;
        font-size: 21px;
        line-height: 26px;
        margin: 5px 0 15px;
    }
}

// login page colors & vars
$login_background_color: #EAECF1 !default;
$login_card_shadow_color: #B5B5B5 !default;
$login_form_box_background: #FFFFFF !default;
$card_background_img: url([[pix:theme|macbook]]);
$card_text_color: #AEB4C1 !default;
$nav_text_color: #404041 !default;
$nav_hover_text_color: #333333 !default;
$isf_schema_text_color: #FE5D3C !default;
$isf_schema_text_hover_color: #e84b2c !default;
$isf_login_ico_color: #ccc !default;
$isf_login_shadow_color: #ccc !default;
$isf_login_shadow_hover_color: #888888 !default;

// sidebar menu
$nav-item-textcolor: #404041 !default;

@font-face {
  font-family: 'Open Sans Think';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}


#page-login-index {
    overflow: hidden;
    background-color: $login_background_color;
    .card {
        .card-block {
            padding: 0px !important;
        }
        min-height: 100%;
        @include box-shadow(0, 0, 45px, $login_card_shadow_color);
        border: 0px none;
        background-image: $card_background_img !important;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        h5 {
            color: $card_text_color !important;
            margin: 50px 0 40px 0;
        }
        .card-layer {
            background-color: rgba(0, 0, 0, 0.5);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .col-md-8 {
            z-index: 1;
            p {
                color: #fff;
                font-size: 50px;
                padding-top: 300px;
                padding-left: 50px;
                font-family: 'Open Sans Think', sans-serif;
            }
        }
    }
    div[role="main"] {
      min-height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100% !important;
    }
    .card-title {
        color: #888;
        h2 {
            font-family: "Open Sans Think";
            font-size: 3rem;
            color: $isf_schema_text_color;
        }
    }
    #page-footer {
        display: none;
        opacity:0;
    }
    #region-main {
        width: 100% !important;
    }
    #page-content {
      min-height: 100%;
    }
}

.login-form-box,
.login-form-box * {
    transition: all 0.5s ease;
}
.login-form-box {
    background-color: $login_form_box_background;
    padding: 70px 90px 70px 90px;
    z-index: 1;
    min-height: 100%;
    display: block;
    position: absolute;
    .alert-danger, #page-admin-index .adminerror {
        background-color: $isf_schema_text_color;
        border-color: $isf_schema_text_color;
        color: #fff;
        font-size: 16px;
        margin-bottom: -20px;
        text-align: center;
    }
    .potentialidp a,
    button[type="submit"] {
        border-radius: 15px;
    }
    .potentialidp a,
    button[type="submit"] {
        background-color: $isf_schema_text_color;
        border-color: $isf_schema_text_color;
        position: relative;
        font-size: 14px;
        color:#ffffff;
        i {
            left: 100%;
            margin-left: -32px;
            font-size: 16px;
            text-shadow: 1px 0 0 #fff;
            margin-right: 3px;
            position: absolute;
        }
    }
    .potentialidp a{
        display: block;
        color: #fff!important;
        text-align: center;
        padding: 7px 14px;
        text-decoration: none;
    }
    .potentialidp a:hover{
        color: #fff!important;
    }
    .potentialidp a:hover,
    button[type="submit"]:hover {
        background-color: $isf_schema_text_hover_color !important;
        border-color: $isf_schema_text_hover_color !important;
    }
    input[type="text"],
    input[type="password"] {
        font-size: 16px;
        font-weight: 600;
        border: 0px none;
        border-radius: 0;
        box-shadow: 0 2px 0 $isf_login_shadow_color;
        text-indent:20px;
    }
    input[type="text"]:hover,
    input[type="password"]:hover,
    input[type="text"]:active,
    input[type="password"]:active,
    input[type="text"]:focus,
    input[type="password"]:focus {
        box-shadow: 0 2px 0 $isf_login_shadow_hover_color;
    }
    input[type="text"]:hover + i,
    input[type="password"]:hover + i,
    input[type="text"]:active + i,
    input[type="password"]:active + i,
    input[type="text"]:focus + i,
    input[type="password"]:focus + i {
        color: $isf_login_shadow_hover_color !important;
    }
    .input-icon {
        height: 30px;
        margin-top: -46px;
        font-size: 18px;
        color: $isf_login_ico_color;
    }
    a {
        color: $isf_schema_text_color !important;
    }
    a:hover {
        color: $isf_schema_text_hover_color !important;
    }
}

/* main menu */

#page-footer {
  z-index: 1112;
}

[data-region="drawer"] {
  width: 75px;
}

#nav-drawer {
    overflow-y: visible;
    z-index: 1111;
    .sidebar {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 75px !important;
        z-index: 1;
        width: 265px;
        transition: width 0.5s ease, opacity 0.5s ease;
        height: 100%;
        background: $sidebar-block-bg;
        padding: 0;
        margin-top: 34px;
        border-right: 1px solid $sidebar-border-color;
        ul {
            padding-left: 0;
            list-style: none;
            margin: 0 0 20px 0 !important;
            li.expanded > a {
                font-size: 13px;
                font-weight: bold;
                i {
                    padding-right: 0px;
                    width: 25px;
                    margin-right: 0;
                }
            }
            li.expanded {
                .toggle-menu > li {
                    a {
                        padding-left: 50px;
                    }
                }
                .toggle-menu > li:hover a {
                    color: $flatmenu-active-bg !important;
                    box-shadow: inset 2px 0px 0px 0px $nav_hover_text_color !important;
                }
                .toggle-menu a {
                    font-size: 13px;
                }
            }
            li a {
                padding-left: 20px;
                color: $nav-item-textcolor;
                text-decoration: none;
                font-family: "Tahoma", sans-serif;
                padding-top: 3px !important;
                padding-bottom: 3px !important;
                display: block;
                font-size: 13px;
            }
            li a:hover {
                cursor: pointer;
                color: $flatmenu-active-bg !important;
            }
            li.expanded > a:hover {
                color: $flatmenu-active-bg !important;
                box-shadow: inset 2px 0px 0px 0px $nav_hover_text_color !important;
            }
        }
        .sidebar-block {
            display: none;
            opacity: 0;
            padding: 0;
            h4 {
                display: block;
                background: $sidebar-block-header-bg;
                margin: 0;
                padding: 12px 20px;
                color: $sidebar-block-header-color;
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 20px;
                i {
                  width: 23px;
                }
            }
            .block-menu > li:hover > a {
                color: $flatmenu-active-bg !important;
                box-shadow: inset 2px 0px 0px 0px $nav_hover_text_color !important;
            }
        }
    }
}



body.drawer-open-left #page-wrapper {
    margin-left: 75px !important;
}

body.nav-with-panels #page-wrapper {
    margin-left:340px !important;
}

.drawer-open-left #page-wrapper .full-header .crumbs-region {
    width: calc(100% - 75px) !important;
    margin-left: 75px !important;
    margin-top:0 !important;
}


.navbar-nav .dropdown {
    height: 46px;
}
.navbar-nav .dropdown a.dropdown-toggle.nav-link {
    height: 46px;
    padding: 15px 10px 0 10px;
    color: $navbar-text-color;
}
.navbar-nav .dropdown.open a.dropdown-toggle.nav-link,
.navbar-nav .dropdown a.dropdown-toggle.nav-link:hover {
    background: rgba(255, 255, 255, 0.1) !important;
    color: $navbar-text-color !important;
}

.navbar-nav i.fa-language {
    font-size: 18px !important;
}

.navbar-nav .nav-item {
    float: right !important;
}

.lang-dropdown-item:not(:last-of-type) {
    display: none;
    opacity: 0;
}

#page-admin-setting-themesettingprimaryisf h2 {
    display: none;
    opacity: 0;
}
.navbar-light .navbar-nav .nav-item + .nav-item {
    margin-right: 0rem;
}
.navbar-light .navbar-nav .nav-item+.nav-item {
    margin-left: 0 !important;
}

$with-check-color: #78ad1d;
$announcements-background-color: #F5F5F5;

.announcement-image {
    display: block;
    float: left;
    width: 26px;
    height: 26px;
    border: 1px solid #aaa;
    border-radius: 50%;
    margin: 0px 15px 0 0;
    i {
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 23px;
        color: #fff !important;
        font-size: 12px;
    }
    &.warning {
        border: 2px solid $brand-warning !important;
        i {
            color: $brand-warning !important;
        }
    }
    &.info {
        border: 2px solid $brand-primary !important;
        i {
            color: $brand-primary !important;
        }
    }
    &.success {
        border: 2px solid $brand-success !important;
        i {
            color: $brand-success !important;
        }
    }
    &.danger {
        border: 2px solid $brand-danger !important;
        i {
            color: $brand-danger !important;
        }
    }
}

.announcement-message {
    h3 {
        font-size: 12px !important;
        line-height: 12px !important;
        margin: 0 !important;
        width: 100% !important;
        font-weight: 600 !important;
        font-family: $default-font-family !important;
    }
    p {
        font-family: $default-font-family !important;
    }
}
[data-region="announcements-area"] {
    .control-area {
        background-color: $announcements-background-color;
    }
}
.announcement {
    .delete-item {
        bottom: 10px;
        font-family: $default-font-family;
        font-size: 9px;
        line-height: 11px;
        position: absolute;
        text-transform: uppercase;
        right: 50px;
    }
}
#page-local-sb_announcements-index .notification-area {
    .announcement .delete-item {
        right: 15px !important;
    }

    .content-area .header {
      height: 57px;
      .subject-container {
        height: 28px;
      }
      .timestamp {
        display: block;
        margin-left: 5px !important;
      }
    }
}

.popover-region-container .create-link .popover-region-footer-container {
    display: block;
    float: right;
    margin-top: -32px;
    margin-right: 10px;
}

.popover-region-announcements {
    .newmessage-link {
        width: 90px !important;
    }
}

header {
  .container-fluid  {
      padding-left: 0 !important;
      border-bottom: $navbar-border-width solid $navbar-border-color;
      .drawer-toggle{
          float: left;
          height:46px;
      }
  }
}


.full-header .crumbs-region {
    margin-top:0 !important;
    transition: all 0.5s ease 0s;
    width: 100%;
}

.pseudotabs-form fieldset.hidden {
    display: none !important;
    opacity: 0 !important;
}

#pseudotabs-tab-box {
    width: calc(100% - 180px);
}

/* pseudotabs */
.pseudotabs-btn-advanced {
    display: block;
    width: auto;
    float: right;
    border-radius: 30px;
    padding-bottom: 8px;
    position:absolute;
    position: absolute;
    top: 19px;
    right: 14px;
}

.pseudotabs-btn-advanced + form {
    margin-top: 40px;
}

#pseudotabs-tab-box {
    li {
        position: relative;
        margin-left: 0px;
        padding-left: 10px;
        background: #efe;
        margin-bottom: 15px;
        a {
            border-radius:0 !important;
        }
    }
    li:hover {
        background:#ddffdd;
        &::after {
            z-index: 2;
            border-left-color: #ddffdd;
        }
    }
    li::after,
    li::before {
        content: "";
        position: absolute;
        top: 50%;
        margin-top: -16px;
        border-top: 17px solid transparent;
        border-bottom: 16px solid transparent;
        border-left: 1em solid;
        right: -14px;
    }
    li::after {
        z-index: 2;
        border-left-color: #efe;
    }
    li.active {
        background: #5bc0de !important;
        a {
            color:#fff !important;
        }
    }
    li.active::after {
        z-index: 2;
        border-left-color: #5bc0de !important;
    }
}

.pseudotabs-form > fieldset {
    margin-bottom: 20px;
}

.pseudotabs-h3 {
    padding: 0 5px 10px 0;
    background: none;
    position: relative;
    font-size: 1.4rem;
    color: #00acdf;
}

.login-lang {
    position: absolute;
    top: 20px;
    width: 100%;
    left: 0;
    .dropdown-toggle {
        margin: 0 auto;
        display: block;
        border: 0px none;
    }
    .dropdown-menu {
        left: calc(50% - 80px);
        .active,
        .active:hover {
            background-color: $isf_schema_text_hover_color !important;
            color: #fff !important;
        }
        a:hover {
            background-color:#f7f7f7 !important;
        }
    }
}

#nav-drawer .sidebar ul li a I {margin-right: 5px;}

body.nav-with-panels {}

.format-isf.path-grade-report-grader #region-main {
    min-width: 97%;
    max-width: calc(100% - 30px) !important;
}

.path-grade-report-grader .gradeparent {
    display: block;
    width: 100%;
}

table#user-grades {
    display: block;
    width: 100%;
    overflow: scroll;
}
#page-grade-report-grader-index {
    overflow-x: hidden;
}
.navbar-static-top .dropdown .dropdown-menu {
    max-height: calc(100vh - 80px);
}

.gradereport-grader-table th a {
    margin-left: 10px !important;
}

.dropdown-menu .dropdown-item {
    min-height:33% !important;
    .currentlink {
        padding: 8px 10px !important;
        width: 100% !important;
        display: block;
        &:hover {
            cursor: pointer;
            color:#fff !important;
            background: #A4C9E0 !important;
        }
    }
}

.primary-course-view.grid-view .section {
    li.activity {
        span.editinstructions {
            margin-top: -25px !important;
        }
        .inplaceeditable {
            width: 100%;
            background: #eee;
            min-height: 80px;
        }
        .inplaceeditable.inplaceeditingon {
            min-height: 0px;
            background-color: rgba(0,0,0,.4);
            bottom: 0;
            padding: .7rem;
            position: absolute;
            text-shadow: none;
            width: 100%;
            display: block;
            margin: 0;
        }
        .inplaceeditable input {
            position: relative;
            z-index: 5;
            width: 100%;
        }
    }
}
.primary-course-view .inplaceeditable.inplaceeditingon input{
    width: 100%;
}
.section {
    .sectionname {
        .inplaceeditable.inplaceeditingon {
            position: relative;
            .editinstructions{
                position: absolute;
            }
        }
    }
}

.withLockedIcon {
    padding-right: 40px !important;
}
.section-cm-edit-actions + a[onclick*="if(confirm("] {
    position: absolute !important;
    top: 0 !important;
    right: 3px !important;
    width:14px;
    height: 14px;
    margin-top: 2px;
    color: #fff;
}
.primary-course-view.list-view .section-cm-edit-actions + a[onclick*="if(confirm("] {
    color: #777;
    margin: -23px 3px 0 0;
}

.section-cm-edit-actions + a[onclick*="if(confirm("] + .autocompletion {
    right: 23px !important;
}

.block_calendar_upcoming {
    .dropdown-menu {
        z-index: 11111;
    }
}

#block-region-side-course {
    padding-bottom: 30px;
}

.block-controls.pull-xs-right.header {
    min-width: 60px;
    .menubar > * {
        float:right;
        margin-left:10px;
    }
}

.open>.dropdown-menu {
    &::after {
        display: none !important;
    }
}

#page-message-notificationpreferences {
    #region-main > .card {
        overflow-x: scroll !important;
        .preference-table {
            min-width: 450px;
        }
    }
}

.navbar-static-top .dropdown .dropdown-menu {
    max-width: 180px;
    overflow: inherit;
    ul {
        li {
            position: relative;
            text-overflow: ellipsis;
        }
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        list-style: none !important;
        -webkit-margin-start:0!important;
        ul.child-level {
            display: none;
            width: 110%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 110%;
            background:$dropdown-bg !important;
            border: 1px solid $header-dropdown-border-color;
            ul.child-level {
                width: 110%;
            }
            li:hover ul {
                left: -110% !important;
            }
        }
        li:hover > ul {
            display: block;
            opacity: 1;
        }
    }
    ul.main-level > li > ul {
        left: -110% !important;
    }
}
.dropdown-menu a.dropdown-item:last-of-type,
.dropdown-menu div.dropdown-item a:last-of-type{border:none;}

.header-action .dropdown-menu {
    overflow-y: scroll !important;
}

.navbar-nav > .dropdown:nth-child(5) {
    ul {
        li {
            position: relative;
        }
        margin-bottom: 0 !important;
        padding-left: 0 !important;
        list-style: none !important;
        ul.child-level {
            display: none;
            opacity: 0;
            width:110% !important;
            position: absolute;
            top: 0;
            left: -110% !important;
            background:#fff !important;
        }
        li:hover > ul {
            display: block;
            opacity: 1;
        }
    }
    ul.main-level > li > ul {
        left: -110% !important;
    }
}


#page-blog-edit div[role="main"] {  
    width: 100%;    
    float: left;
    overflow: hidden;    
    padding: 20px;
}

#page-mod-glossary-view .glossarycontrol {
    margin-top: -10px !important;
}
.pagelayout-frontpage #block-region-side-pre { margin-top: 0;}

/* start responsive */

@media all and (max-width: 1200px) {
  #page-login-index {
    .col-md-8 {
      p {
        padding-top: 180px !important;
      }
    }
  }
}

@media all and (max-width: 1150px) {
  #page-course-view-isf.nav-with-panels {
    .section-filter-wrapper {
      display: block;
      float: left;
      #mod_filter {
        margin-right: 20px;
      }
    }
    .section li.activity {
        min-height: 70px;
    }
    .section .activity .actions {
        position: absolute;
        right: 0;
        top: 100% !important;
        height: 25px !important;
        margin-top: -25px;
    }
    .section .activity {
        .mod-indent-outer {
            display: block !important;
            width: 100% !important;
        }
        .activityinstance {
            display: block;
            width: 100%;
            padding: 0;
        }
        .actions {
            display: block;
            position: relative;
            float: left;
            margin: 0;
            left: 0;
            top: 0 !important;
            width: 100%;
        }
    }
  }
}


@media all and (max-width: 1100px) {
    #page-mod-forum-view {
        .breadcrumb > li {
            display: none;
            opacity: 0;
        }
        .breadcrumb .breadcrumb-item:nth-last-child(2) {
            display: block !important;
            opacity: 1 !important;
            width: 200px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

@media all and (max-width: 1024px) {
  #page-login-index {
    .card {
      .login-form-box {
        padding: 70px 50px 70px 50px;
      }
      .col-md-8 {
        p {
          font-size: 40px;
          padding-left: 30px;
        }
      }
    }
  }
}

@media all and (max-width: 990px) {
  #page-course-view-isf {
    .agenda-box-inner {
      width: 100% !important;
    }
    .agenda-rightpanel {
        min-height: 500px;
        display: block;
        float: left;
        width: 100%;
    }
    .agenda-box-inner ul.items-list li .post-actions li {
        margin-bottom: 10px;
    }
    .primary-course-view.grid-view .section li.activity {
        width:44% !important;
    }
  }
  #page-course-view-isf.nav-with-panels {
    .primary-course-view.grid-view .section li.activity {
      width:99% !important;
    }
  }
}

@media all and (max-width: 860px) {
  #page-course-view-isf {
    .section-filter-wrapper {
      display: block !important;
      float: left !important;
      /*margin-top: 15px !important;*/
      #mod_filter {
        margin-right: 20px !important;
      }
    }
    .section .activity .actions {
        position: absolute;
        right: 0;
        top: 100% !important;
        height: 25px !important;
        margin-top: -25px;
    }
    .section .activity {
        .mod-indent-outer {
            display: block !important;
            width: 100% !important;
        }
        .activityinstance {
            display: block;
            width: 100%;
            padding: 0;
        }
        .actions {
            display: block;
            position: relative;
            float: left;
            margin: 0;
            left: 0;
            top: 0 !important;
            width: 100%;
        }
    }
    .primary-course-view .section .actions {
        margin-top: -28px !important;
    }
  }
  #page-course-view-isf.nav-with-panels {
    .section-filter-wrapper {
      .filter-search, #mod_filter {
        margin-right: 2% !important;
        width:48%;
      }
      > i, > span {
        margin-top: 15px !important;
      }
      .filter-search {
        input {
            width: 100% !important;
        }
        i {
            right: 12px !important;
        }
      }
    }
  }
  #pseudotabs-tab-box {
    width: 100%;
    margin-top: 50px;
  }
  #page-mod-forum-view {
      .breadcrumb .breadcrumb-item:nth-last-child(2) {
        display: none !important;
        opacity: 0 !important;
      }
  }
}

@media all and (max-width: 800px) {
  #page-login-index {
    .card {
       .login-form-box {
          width: 40%;
       }
      .col-md-8 {
        width: 60%;
        p {
          padding-top: 150px !important;
          padding-left: 10px;
        }
      }
    }
  }
}

@media all and (max-width: 800px) {
  .navbar-brand {
    display: block !important;
  }
  .breadcrumb > li {
    display: none;
    opacity: 0;
  }
  .breadcrumb .breadcrumb-item:nth-last-child(2) {
    display: block !important;
    opacity: 1 !important;
    width: 200px;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .pagelayout-incourse,
    .path-course,
    .path-course-view {
        .breadcrumb li.course-item {
            display: block !important;
            opacity: 1 !important;
            width: 200px;
            float: left;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .breadcrumb li:not(.course-item) {
            display: none !important;
            opacity: 0 !important;
        }
    }
}
@media all and (max-width: 768px) {
    #pseudotabs-tab-box li {
        float: left !important;
    }
}
@media all and (max-width: 750px) {
  #page-login-index {
    .card {
       .login-form-box {
          width: 50%;
       }
      .col-md-8 {
        width: 50%;
      }
    }
  }
}
@media all and (max-width: 728px) {
  #page-my-index {
    .breadcrumb .breadcrumb-item:nth-last-child(2) {
        display: none !important;
    }
    .pagelayout-incourse,
    .path-course,
    .path-course-view {
        .breadcrumb li.course-item {
            /*display: none !important;
            opacity: 0 !important;*/
        }
    }
    #region-main-settings-menu.has-blocks, #region-main.has-blocks {
        width: calc(100% - 40px) !important;
    }
    section[data-region="blocks-column"] {
        padding-left: 20px !important;
    }
  }
}

@media all and (max-width: 700px) {
    #page-course-view-isf {
        .primary-course-view.grid-view .section li.activity {
            width:99% !important;
        }
        .section-filter-labels {
            display: block;
            width: 100%;
            float: left;
            margin-bottom: 15px;
        }
    }
}

@media all and (max-width: 628px) {
  #page-course-view-isf {
    .section-filter-wrapper {
      .filter-search, #mod_filter {
        margin-right: 2% !important;
        width:48%;
      }
      > i, > span {
        margin-top: 15px !important;
      }
      .filter-search {
        input {
            width: 100% !important;
        }
        i {
            right: 12px !important;
        }
      }
    }
  }
  #page-mod-forum-view {
    #search {
        width: 100px !important;
    }
  }
}

@media all and (max-width: 600px) {
  #page-login-index {
    .card {
       .login-form-box {
          width: 100%;
          padding: 70px 130px;
       }
      .col-md-8 {
        display: none;
        opacity: 0;
      }
    }
  }
  #page-local-sb_announcements-announcements {
    .announcements-search-form > * {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
    .announcements-search-form > label {
        width: 100%;
    }
  }
  .breadcrumb .breadcrumb-item:nth-last-child(2) {
    width: 100px;
  }
  .pagelayout-incourse,
    .path-course,
    .path-course-view {
        .breadcrumb li.course-item {
            width: 100px !important;
        }
    }
    .initialbar {
        display:block;
        min-height: 70px;
        width:100%;

        strong, a, label {
            display: block;
            float: left;
            margin-bottom: 0 !important;
        }
    }
    #page-mod-forum-post {
        #intro {
            margin-top: 40px;
        }
        #mformforum {
        margin-top:5px !important;
        }
    }
}

@media all and (max-width: 580px) {
    #page-footer nav > ul > li:nth-child(3),
    #page-footer nav > ul > li:nth-child(4),
    header .dropdown:nth-child(7) {
        display: none;
        opacity: 0;
    }
}


@media all and (max-width: 550px) {
    #page-mod-forum-view {
        .forumsearch {
            display: none;
            opacity: 0 !important;
        }
    }
}

@media all and (max-width: 530px) {
    .filepicker-filelist, .filemanager-container {
        min-height: 165px;
    }
}

@media all and (max-width: 500px) {
  .dropdown:nth-child(5) {
      display: none !important;
      opacity: 0 !important;
  }
   #page-course-view-isf {
    .section-filter-wrapper {
      .filter-search, #mod_filter {
        margin-right: 0 !important;
        width: 100%;
        display: block;
        float: left;
      }
      .activity-filter label {
        margin-bottom: 10px !important;
      }
      .filter-search {
        margin: 20px 0 0 5px !important;
      }
      > i, > span {
        margin-top: 15px !important;
      }
      .filter-search {
        input {
            width: 100% !important;
        }
        i {
            right: 12px !important;
        }
      }
    }
    .users-activity-box li {
        padding: 0 !important;
    }
    .recent-course-changes ul {
        padding-left:0 !important;
    }
    .users-activity-box h3 {
        min-height: 68px;
        .recent-items-count {
            left: 10px !important;
            top: 34px !important;
        }
    }
    .agenda-box-inner {
        padding: 60px 8px 15px 8px;
        ul.items-list {
            padding: 0 !important;
            &::before {
                background: #fff none repeat scroll 0 0;
            }
            > li {
                padding: 20px 0 !important;
            }
        }
    }
  }
}

@media all and (max-width: 480px){
    .navbar .popover-region .popover-region-container {
        position: fixed;
        top: 83px;
    }
}


@media all and (max-width: 450px) {
  #page-login-index {
    .card {
       .login-form-box {
          padding: 70px 90px;
       }
    }
  }
  .breadcrumb .breadcrumb-item:nth-last-child(2) {
    display: none !important;
    opacity: 0 !important;
  }
  .pagelayout-incourse,
    .path-course,
    .path-course-view {
        .breadcrumb li.course-item {
            /*display: none !important;
            opacity: 0 !important;*/
        }
    }
    .quicklinks-content .action-tabs {
        padding-left: 0;
    }
    .quicklinks-content .action-tabs li {
        width: 33%;
    }
    .users-create-panel {
        button {
            width: 100%;
            margin-bottom: 10px;
        }
    }
    #page-local-manager-users-index {
        #datatable_1_wrapper {
            display: block;
            float: left;
            width:  100%;
            [type="search"] {
                margin: 0 auto;
                float: none;
            }
        }
    }
}

@media all and (max-width: 420px) {
 .buttons.mdl-align {
    .singlebutton {
        width: 100%;
        margin-bottom: 15px;
        margin-left: 0 !important;
    }
 }
}

@media all and (max-width: 400px) {
  #page-login-index {
    .card {
       .login-form-box {
          padding: 70px;
       }
    }
  }
}

@media all and (max-width: 350px) {
    #page-login-index {
        .card {
           .login-form-box {
              padding: 70px 40px;
           }
        }
    }
    .navbar .popover-region .popover-region-container {
        position: fixed;
        top: 83px;
        .popover-region-header-text {
            display: none;
            opacity: 0;
        }
    }
    .quicklinks-content .action-tabs {
        position: relative;
    }
    .quicklinks-content .action-tabs li {
        width: 100%;
    }
}

/* iphone */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .course-content .section_action_menu .action-menu.section-actions .dropdown-menu {
        margin-top: 0 !important;
    }
}
