{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/isf_chooser_item

    Chooser item.

    Example context (json):
    {
        "id": "1",
        "paramname": "param",
        "value": "1",
        "label": "item one",
        "description": "description one"
    }
}}

    <label for="item_{{id}}" title="{{{description}}}" class="module-label">
        <input type="radio" name="{{paramname}}" id="item_{{id}}" value="{{value}}">
        <span class="typename" style="color: {{color}};"><i class="fa fa-plus"></i> {{label}}</span>
        <button class="typeadd btn btn-primary">{{#str}}add{{/str}}</button>
        <div class="summary clearfix">
            <span class="modicon">
                {{#icon}}
                    {{>core/pix_icon}}
                {{/icon}}
            </span>
            <span class="typesummary">
                {{{description}}}
            </span>
        </div>
        <div class="link-box clearfix">
            <div class="example clearfix">
                    {{{example_link}}}
            </div>
            <div class="help clearfix">
                    {{{help_link}}}
            </div>
        </div>
    </label>
