{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core/popover_region

    This template will render a popover region

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * none

    Example context (json):
    {
    }

}}
<div class="popover-region collapsed {{$classes}}{{/classes}}"
    {{$attributes}}{{/attributes}}
    data-region="popover-region">
    <div class="popover-region-toggle nav-link"
        data-region="popover-region-toggle"
        aria-role="button"
        aria-controls="popover-region-container-{{uniqid}}"
        aria-haspopup="true"
        aria-label="{{$togglelabel}}{{#str}}showpopovermenu{{/str}}{{/togglelabel}}"
        tabindex="0">
        {{$togglecontent}}{{/togglecontent}}
    </div>
    <div {{$containerattributes}}{{/containerattributes}}
        id="popover-region-container-{{uniqid}}"
        class="popover-region-container"
        data-region="popover-region-container"
        aria-expanded="false"
        aria-hidden="true"
        aria-label="{{$containerlabel}}{{/containerlabel}}"
        role="region">
        <div class="popover-region-header-container">
            <h3 class="popover-region-header-text" data-region="popover-region-header-text">{{$headertext}}{{/headertext}}</h3>
            <div class="popover-region-header-actions" data-region="popover-region-header-actions">
            {{#urls.create}}
                <div class="newmessage-link">
                    <a class="create-link" href="{{{.}}}">{{#str}} create_new_sm, local_sb_announcements {{/str}}</a>
                </div>
            {{/urls.create}}
            {{$headeractions}}{{/headeractions}}</div>
        </div>
        <div class="popover-region-content-container" data-region="popover-region-content-container">
            <div class="popover-region-content" data-region="popover-region-content">
                {{$content}}{{/content}}
            </div>
            {{> core/loading }}
        </div>
        {{$anchor}}
            {{#urls.seeall}}
                <a class="see-all-link"
                    href="{{{.}}}">
                    <div class="popover-region-footer-container">
                        <div class="popover-region-seeall-text">{{#str}} seeall, message {{/str}}</div>
                    </div>
                </a>
            {{/urls.seeall}}
        {{/anchor}}
    </div>
</div>
