{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template format_isf/createsection_form

    Display the createsection_form

}}
<div id="create_section_formbox" class="hidden">
    <form action="{{formaction}}" id="create_section_form" class="create-section-form mform" method="POST">
        <input type="hidden" name="courseid" value="{{courseid}}" />
        <div class="form-field-item">
            <label for="form[name]">{{#str}} name, format_isf {{/str}}</label>
            <input type="text" name="form[name]" class="form-control section-name" value="" style="width:100%;" />
        </div>
        <div class="form-field-item">
            <label for="form[summary]">{{#str}} summary, format_isf {{/str}}</label>
            <textarea name="form[summary]" id="summary" class="form-control"></textarea>
        </div>
        {{#issections}}
            <div class="beforeorafter form-field-item">
                <label style="display:block;">{{#str}} insertlearningmodule, format_isf {{/str}}</label>
                <label class="radio-label"><input class="beforeafter-radio" type="radio" name="form[position]" value="before" /> {{#str}} before, format_isf {{/str}}</label>
                <span>{{#str}} or, format_isf {{/str}}</span>
                <label class="radio-label"><input class="beforeafter-radio" type="radio" name="form[position]" value="after" /> {{#str}} after, format_isf {{/str}}</label>
            </div>
            <div class="sectionchooser form-field-item">
                <select name="form[target]" class="section-target form-control">
                    {{#sections}}<option value="{{sid}}">{{sname}}</option>{{/sections}}
                </select>
            </div>
        {{/issections}}
    </form>
</div>
