{{< core_form/element-template }}
    {{$element}}
        <span class="btn btn-primary filemanager-toggler" onclick="toggleFilemanager(this)" title="{{#str}}togglefilemanager, theme_primaryisf{{/str}}">
            <i class="fa fa-upload"></i>
        </span>
        {{{element.html}}}
    {{/element}}
{{/ core_form/element-template }}
