/* quick modules */

.quickmodules-list .search-form {
    text-align: right;
    margin-bottom: 15px;
}

.quickmodules-list .search-form .form-inline {
    margin: 0 0.5em;
}

.quickmodules-list .generaltable.sorting .c0,
.quickmodules-list .generaltable.sorting .c1 {
    display:none;
}

#page-local-quick-modules-form #id_submitbutton {
    display: none;
}

.quickmodules-list .section-modchooser-link a,
.quickmodules-list .section-modchooser-link a:hover {
    color: #fff;
    text-decoration: none;
}

.quickmodules-list .p-y-1 {
    padding: 0 !important;
}
