{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template local_sb_announcements/announcement_area

    This template will render the announcement area on the notifications
    page.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * offset The offset amound of the announcements list
    * limit The limit amount for the announcements list
    * notificationid The specific announcements to select

    Example context (json):
    {
        "userid":3
    }

}}
<div class="notification-area" data-region="announcements-area" data-user-id="{{userid}}">
    <div class="control-area" data-region="control-area">
        <div class="header"></div>
        <div class="content" data-region="content"></div>
        <div class="empty-text">{{#str}} noannouncements, local_sb_announcements {{/str}}</div>
        {{> core/loading }}
    </div>
    <div class="content-area" data-region="content-area">
        <div class="toggle-mode">
            <button class="btn btn-info" data-action="toggle-mode">{{#str}} back {{/str}}</button>
        </div>
        <div class="header" data-region="header"></div>
        <div class="content" data-region="content"></div>
        <div class="empty-text">{{#str}} selectnotificationtoview, message {{/str}}</div>
        <div class="footer" data-region="footer"></div>
    </div>
</div>
{{#js}}
require(['jquery', 'local_sb_announcements/announcement_area_control_area', 'local_sb_announcements/announcement_area_content_area'],
    function($, ControlArea, ContentArea) {

    var userId = {{userid}};
    var controlArea = new ControlArea($('[data-region="control-area"]'), userId);
    {{#offset}}
    controlArea.setOffset({{.}});
    {{/offset}}
    {{#limit}}
    controlArea.setLimit({{.}});
    {{/limit}}
    {{#announcementid}}
    controlArea.loadMoreAnnouncements().done(function() {
        controlArea.showAnnouncement({{.}});
    });
    {{/announcementid}}
    {{^announcementid}}
    controlArea.loadMoreAnnouncements();
    {{/announcementid}}

    new ContentArea($('[data-region="content-area"]'), userId);
});
{{/js}}
