/* course.less */

/* course variables*/
$section-header-bg: #fdf5e8 !default;
$modules-border-color: #e7e7e7 !default;
$section-header-color: #f1a327 !default;
$section-header-border-color: #efe8d7 !default;
$section-header-current-bg: #acd0e0 !default;
$section-header-current-color: #ffffff !default;
$section-header-current-border-color: #acd0e0 !default;
$section-header-actions-color: #f1a327 !default;
$section-header-current-actions-color: #ffffff !default;
$section-header-actions-hover-color: #f1a327 !default;
$section-activity-color: #444444 !default;
$section-activity-hover-color: #545454 !default;
$section-activity-actions-color: #777777 !default;
$section-activity-actions-hover-color: #5fa7d0 !default;
$course-active-tab-bg: #5fa7d0 !default;
$course-active-tab-color: #ffffff !default;


/* COURSE CONTENT */
.section-modchooser-link img {
    margin-right: 0.5rem;
    width: 16px;
    height: 16px;
}

.quickmodule-chooser {
    margin-right: 0.4rem;
    i {
        margin-right: 0;
    }
}
#section-0 .quickmodule-chooser {
    .btn.btn-primary {
        padding: 0.55rem 1rem;
    }
}

.section_add_menus {
    text-align: right;
    clear: both;
}

.section-modchooser {
    clear: both;
}

.block_tree .tree_item.branch {
    margin-left: 8px;
}

.section_add_menus .horizontal div,
.section_add_menus .horizontal form {
    display: inline;
}

.section_add_menus optgroup {
    font-weight: normal;
    font-style: italic;
}
/*rtl:ignore*/
.section_add_menus .urlselect {
    text-align: left;
    margin-left: .4em;
}
/*rtl:ignore*/
.section_add_menus .urlselect select {
    margin-left: .2em;
}

.sitetopic ul.section {
    margin: 0;
}

.course-content ul.section {
    margin: $spacer 0;
    padding: 0;
    transition: all 0.2s ease 0s;
}

.course-content #completionprogressid {
    display: none;
}

.section {
    .side {
        &.left {
            float: left;
        }

        &.right {
            float: right;
            clear: right;
        }
        margin-top: 0.5rem;
    }

    .spinner {
        height: 16px;
        width: 16px;
    }

    .activity {
        .spinner {
            left: 100%;
            position: absolute;
        }

        /* The command block for each activity */
        .actions {
            position: absolute;
            right: 0;
            top: 0;
        }

        .editing_groupsseparate.menu-action,
        .editing_groupsnone.menu-action,
        .editing_groupsvisible.menu-action{
            display:none;
        }

        .contentwithoutlink,
        .activityinstance {
            min-width: 40%;
            display: table-cell;
            padding-right: 4px;
            min-height: 2em;

            > a {
                display: block;
                text-indent: -31px;
                padding-left: 31px;
            }

            .dimmed {
                .activityicon {
                    opacity: .5;
                }
            }
        }
    }

    .label {
        .contentwithoutlink,
        .activityinstance {
            padding-right: 32px;
            display: block;
            height: inherit;
        }

        .mod-indent-outer {
            padding-left: 24px;
            display: block;
        }
    }

    .filler {
        // This must be sized like an icon to fill the space.
        width: 16px;
        height: 16px;
        padding: 0;
        margin: 0 ($spacer / 2);
        display: inline-block;
    }

    .activity.editor_displayed {
        a.editing_title,
        .moodle-actionmenu {
            display: none;
        }

        div.activityinstance {
            padding-right: initial;

            input {
                margin-bottom: initial;
                padding-top: initial;
                padding-bottom: initial;
                vertical-align: text-bottom;
            }
        }
    }
}

.activity img.activityicon {
    height: 35px;
    margin-left: -50px;
    position: absolute;
    top: -3px;
    vertical-align: text-bottom;
    width: 35px;
}

.section .activity .activityinstance,
.section .activity .activityinstance div {
    display: inline-block;
}

.editing {
    .section {
        .activity {
            .contentwithoutlink,
            .activityinstance {
                padding-right: 200px;
            }
            .editing_move {
                /* Move the move icon to the start of the line */
                position: absolute;
                left: 0;
                top: 0;
            }

            .mod-indent-outer {
                /**
                 * Add appropriate padding such that nothing overlaps the
                 * absolute positioned move icon.
                 */
                padding-left: 2rem;
            }
        }
        .activity.label {
            .contentwithoutlink,
            .activityinstance {
                padding-right: 0;
            }
        }
    }
}

.section {
    .activity {
        .mod-indent-outer {
            padding-left: 4rem;
        }
    }
    .activity.label {
        .mod-indent-outer {
            padding-left: 2rem;
        }
    }
}
.editing_show + .editing_assign,
.editing_hide + .editing_assign {
    // if roles icon missing, add space
    margin-left: 20px;
}

.section .activity .commands {
    white-space: nowrap;
    display: block;
}

.section .activity.modtype_label.label {
    font-weight: normal;
    padding: 0.5rem 1em;
}

.section li.activity {
    padding: 0.5rem 1em;
    clear: both;
    border-bottom: 1px solid #e7e7e7;
    position: relative;
}

.section li.activity .fav-action {
    position: absolute;
    font-size: 18px;
    left: -4px;
    cursor: pointer;
    color: $section-activity-actions-hover-color;
    @include hover-focus {
        color: $section-activity-actions-hover-color;
    }
}
.section li.activity .fav-action.active {
    color: $section-activity-actions-hover-color;
    @include hover-focus {
        color: $section-activity-actions-color;
    }
}


.section li.activity .activityinstance a {
    color: $section-activity-color;
    font-family: $default-font-family;
    font-size: 17px;
    line-height: 27px;
    padding-left: 50px;
    text-shadow: 1px 1px 1px #ccc;

    @include hover-focus {
        color: $section-activity-hover-color;
        text-decoration: none;
    }
}
.section li.activity .activityinstance a.power-link {
    padding-left: 5px;
}
.section li.activity .activityinstance a.power-link {
    padding-left: 5px;
}
.section li.activity .activityinstance a.power-link img,
.section li.activity .activityinstance img.power-icon{
    display: inline-block;
    height: 28px;
    vertical-align: -8px;
}
.modal-dialog.power-modal-delete-mod{
    max-width: 650px;
}

.primary-course-view .section li.activity .activityinstance .power-links-box{
    bottom: 0;
    padding: 0.7rem 1.2rem 0.7rem 0.7rem;
    position: absolute;
    right: 0;
}

.primary-course-view.grid-view .section li.activity .activityinstance .power-links-box img{
    filter: brightness(2);
}
.section li.activity .activityinstance .inplaceeditable .quickeditlink {
    padding-left: 5px;
}

.section .activity .activityinstance .groupinglabel {
    padding-left: 30px;
}

.section .activity .availabilityinfo,
.section .activity .contentafterlink {
    font-family: $default-font-family;
    font-size: 12px;
    margin-left: 20px;
    margin-top: 0.2rem;
}

.editing .section .activity .availabilityinfo,
.editing .section .activity .contentafterlink {
    margin-left: 50px;
}

.section .activity .contentafterlink p {
    margin: .5em 0;
}

.editing .section .activity:hover,
.editing .section .activity.action-menu-shown {
    background-color: $table-bg-accent;
}

.course-content .current {
    position: relative;
}

.course-content .current::before {
    content: "";
    border-left: $brand-primary 2px solid;
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
}

.course-content .section-summary {
    border: 1px solid $table-border-color;
    margin-top: 5px;
    list-style: none;
}

.course-content .section-summary .section-title {
    margin: 2px 5px 10px 5px;
}

.course-content .section-summary .summarytext {
    margin: 2px 5px 2px 5px;
}

.course-content .section-summary .section-summary-activities .activity-count {
    @extend .text-muted;
    font-size: $font-size-sm;
    margin: 3px;
    white-space: nowrap;
    display: inline-block;
}

.course-content .section-summary .summary {
    margin-top: 5px;
}

.course-content .single-section {
    margin-top: 1em;
}

.course-content .single-section .section-navigation {
    display: block;
    padding: 0.5em;
    margin-bottom: -0.5em;
}

.course-content .single-section .section-navigation .title {
    font-weight: bold;
    font-size: 108%;
    clear: both;
}

.course-content .single-section .section-navigation .mdl-left {
    font-weight: normal;
    float: left;
    margin-right: 1em;
}

.course-content .single-section .section-navigation .mdl-left .larrow {
    margin-right: 0.1em;
}

.course-content .single-section .section-navigation .mdl-right {
    font-weight: normal;
    float: right;
    margin-left: 1em;
}

.course-content .single-section .section-navigation .mdl-right .rarrow {
    margin-left: 0.1em;
}

.course-content .single-section .section-navigation .mdl-bottom {
    margin-top: 0;
}

.course-content ul li.section.main {
    margin-top: 0;

    &:last-child {
        border-bottom: 0;
    }
}

.course-content ul li.section.hidden {
    .sectionname > span,
    .content > div,
    .activity .activityinstance {
        opacity: .5;
    }

    .sectionname > span,
    .activity .activityinstance {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.tab-pane.course-content:target,
.course-content ul li.section:target {
    margin-top: 0 !important;
    padding-top: 0 !important;
}

.course-content ul.topics,
.course-content ul.weeks {
    padding: 0;

    li.section {
        padding-top: $spacer;
        padding-bottom: $spacer;

        .content {
            margin: 0;
            padding: 0;
        }
    }
}

.course-content {
    margin-top: 0;
}

.course-content ul.topics li.section .summary {
    margin-left: 25px;
}

.course-content .hidden {
    display: none;
}

.course-content li {
    &.section {
        ul {
            list-style: disc;

            ul {
                list-style: circle;

                ul {
                    list-style: square;
                }
            }
        }

        li {
            &.activity {
                ul {
                    list-style: disc;

                    ul {
                        list-style: circle;

                        ul {
                            list-style: square;
                        }
                    }
                }
            }
        }

        .right {
            > .icon:first-child {
                /* Remove the spacer icon. */
                display: none;
            }
        }
    }
}

.path-course-view.editing #region-main > .card-block {

}

.path-course-view .completionprogress {
    margin-left: 25px;
}

.path-course-view .completionprogress {
    display: block;
    float: right;
    height: 20px;
    position: relative;
}

#page-site-index .subscribelink {
    text-align: right;
}

#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2 {
    margin-bottom: 9px;
}

.path-course-view a.reduce-sections {
    padding-left: 0.2em;
}

.path-course-view .subscribelink {
    text-align: right;
}

.path-course-view .unread {
    margin-left: 30px;
}

.path-course-view .block.drag .header {
    cursor: move;
}

.path-course-view .completionprogress {
    text-align: right;
}

.path-course-view .single-section .completionprogress {
    margin-right: 5px;
}

.path-site li.activity > div,
.path-course-view li.activity > div {
    position: relative;
    padding: 0 16px 0 0; /* to accommodate the floated completion icon with highlighting */
}

.path-course-view li.activity span.autocompletion img {
    vertical-align: text-bottom;
    margin-right: 0;
}

.path-course-view li.activity form.togglecompletion img {
    max-width: none; /* The width is 0 so ensure we don't end up with a relative max-width */
}

.path-course-view {
    &.editing {
        li.activity span.autocompletion img {
            /* Use the same spacing as the filler. */
            margin-right: $spacer / 2;
            margin-left: $spacer / 2;
        }
    }
}

.path-course-view li.activity form.togglecompletion .ajaxworking {
    width: 16px;
    height: 16px;
    position: absolute;
    right: 22px;
    top: 3px;
    background: url([[pix:i/ajaxloader]]) no-repeat;
}

li.section.hidden span.commands a.editing_hide,
li.section.hidden span.commands a.editing_show {
    cursor: default;
}

.single-section h3.sectionname {
    text-align: center;
    clear: both;
}

.section img.movetarget {
    height: 16px;
    width: 80px;
}

input.titleeditor {
    width: 330px;
    vertical-align: text-bottom;
}

span.editinstructions {
    /*rtl:remove*/
    position: absolute;
    /*rtl:raw:
    position: relative;
    */
    top: 0;
    margin-top: -22px;
    margin-left: 30px;
    font-size: $font-size-sm;
    padding: .1em .4em;
    background-color: $state-info-bg;
    color: $state-info-text;
    text-decoration: none;
    z-index: 9999;

    @include box-shadow(2px 2px 5px 1px #ccc);
    border: 1px solid $state-info-border;
}

/* Course drag and drop upload styles */
#dndupload-status {
    position: fixed;
    left: 0;
    width: 40%;
    margin: 0 30%;
    padding: 6px;
    border: 1px solid $state-info-border;
    text-align: center;
    background: $state-info-bg;
    color: $state-info-text;
    z-index: 1; // Required in order to have this above relatively positioned course content@mixin

    @include box-shadow(2px 2px 5px 1px #ccc);
    @include border-radius(8px);
}

.dndupload-preview {
    color: #909090;
    border: 1px dashed #909090;
    list-style: none;
    margin-top: .2em;
    padding: .3em;
}

.dndupload-progress-outer {
    @extend progress;
}

.dndupload-progress-inner {
    .progress {
        @extend .progress-bar;
    }
}

.dndupload-hidden {
    display: none;
}

/* COURSES LISTINGS AND COURSE SUMMARY */
#page-course-pending .singlebutton,
#page-course-index .singlebutton,
#page-course-index-category .singlebutton,
#page-course-editsection .singlebutton {
    text-align: center;
}

#page-admin-course-manage #movecourses td img {
    margin: 0 .22em;
    vertical-align: text-bottom;
}

#coursesearch {
    margin-top: 1em;
    text-align: center;
}

#page-course-pending .pendingcourserequests {
    margin-bottom: 1em;
}

#page-course-pending .pendingcourserequests .singlebutton {
    display: inline;
}

#page-course-pending .pendingcourserequests .cell {
    padding: 0 5px;
}

#page-course-pending .pendingcourserequests .cell.c6 {
    white-space: nowrap;
}

.coursebox {
    padding: $spacer / 2;
}

.coursebox > .info > .coursename a {
    display: block;
    background-image: url([[pix:moodle|i/course]]);
    background-repeat: no-repeat;
    padding-left: 21px;
    background-position: left 0.2em;
}

.coursebox > .info > .coursename,
.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {
    float: left;
    clear: left;
}

.coursebox .content .teachers,
.coursebox .content .courseimage,
.coursebox .content .coursefile {
    width: 40%;
}

.coursebox > .info > h3.coursename {
    margin: 5px;
}

.coursebox > .info > .coursename {
    margin: 5px;
    padding: 0;
}

.coursebox .content .teachers li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.coursebox .moreinfo {
    padding: 3px 0;
    float: right;
}

.coursebox .moreinfo img {
    margin: 0 .2em;
}

.coursebox .content {
    clear: both;
}

.coursebox .content .summary,
.coursebox .content .coursecat {
    float: right;
    width: 55%;
}

.coursebox .content .coursecat {
    text-align: right;
    clear: right;
}

.coursebox.remotecoursebox .remotecourseinfo {
    float: left;
    width: 40%;
}

.coursebox .content .courseimage img {
    max-width: 100px;
    max-height: 100px;
}

.coursebox .content .coursecat,
.coursebox .content .summary,
.coursebox .content .courseimage,
.coursebox .content .coursefile,
.coursebox .content .teachers,
.coursebox.remotecoursebox .remotecourseinfo {
    margin: 15px 5px 5px;
    padding: 0;
}

.coursebox.remotehost > .info > .categoryname a {
    background-image: url([[pix:moodle|i/mnethost]]);
}

.coursebox.collapsed {
    margin-bottom: 0;
}

.coursebox.collapsed > .content {
    display: none;
}

.courses .coursebox {
    &.collapsed {
        padding-top: $spacer-y / 2;
        padding-bottom: $spacer-y / 2;
    }

    &.even {
        background-color: $table-bg-accent;
    }

    &:hover {
        background-color: $table-bg-hover;
    }
}

.courses > .paging.paging-morelink {
    text-align: center;
    padding: $spacer;
}

.course_category_tree .category .numberofcourse {
    font-size: $font-size-sm;
}

.course_category_tree .controls {
    visibility: hidden;
}

.course_category_tree .controls div {
    display: inline;
    cursor: pointer;
}

.jsenabled .course_category_tree .controls {
    visibility: visible;
}

.course_category_tree .controls {
    margin-bottom: 5px;
    text-align: right;
    float: right;
}

.course_category_tree .controls div {
    padding-right: 2em;
    font-size: 75%;
}

.course_category_tree .category > .info > .categoryname {
    background-image: url([[pix:moodle|t/collapsed_empty]]);
    background-repeat: no-repeat;
    padding: 2px 18px;
    margin: 3px;
    background-position: center left;
}
/* rtl:raw:
.course_category_tree .category > .info > .categoryname {
    background-image:url([[pix:moodle|t/collapsed_empty_rtl]]);
}
 */
.course_category_tree .category.with_children > .info > .categoryname {
    background-image: url([[pix:moodle|t/expanded]]);
    cursor: pointer;
}

.course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image: url([[pix:moodle|t/collapsed]]);
}
/* rtl:raw:
.course_category_tree .category.with_children.collapsed > .info > .categoryname {
    background-image:url([[pix:moodle|t/collapsed_rtl]]);
}
*/
.course_category_tree .category.collapsed > .content {
    display: none;
}

.course_category_tree .category > .info {
    clear: both;
}

.course_category_tree .category > .content {
    padding-left: 16px;
}

#page-course-index-category .generalbox.info {
    margin-bottom: 15px;
    border: 1px dotted #ddd;

    @include border-radius(4px);
    padding: 5px;
}

#page-course-index-category .categorypicker {
    text-align: center;
    margin: 10px 0 20px;
}

/**
 * Course management page
 * Palette
 *
 * Background (reg)         #F5F5F5
 * Background (light        #fafafa
 * Background (highlight)   #ddffaa
 * Borders                  #e1e1e8
 */
#course-category-listings {
    margin-bottom: 0;

    /** Two column layout */
    &.columns-2 {
        > #course-listing > div {
            position: relative;
            left: -1px;
        }
    }
    /** Three column layout */
    &.columns-3 > #course-listing > div {
        height: 100%;
    }

    > div > div {
        min-height: 300px;

        > ul.ml > li:first-child > div {
            border-top: 0;
        }
    }

    h3 {
        margin: 0;
        padding: 0.4rem 0.6rem 0.3rem;
    }

    h4 {
        margin: 1rem 0 0;
        padding: 0.6rem 1rem 0.5rem;
    }

    .moodle-actionmenu {
        white-space: nowrap;
    }

    .listing-actions {
        text-align: center;
        padding: 0.4rem 0.3rem 0.3rem;

        > .moodle-actionmenu {
            display: inline-block;
        }
    }

    ul.ml {
        list-style: none;
        margin: 1rem 0;

        ul.ml {
            margin: 0;
        }
    }

    .listitem {

        > div {
            &:hover {
                background-color: $table-bg-hover;
            }
        }

        &[data-selected='1'] {
            > div {
                background-color: $table-bg-accent;
            }

            > div:hover {
                background-color: $table-bg-hover;
            }
        }
    }

    .item-actions {
        margin-right: 1em;
        display: inline-block;

        &.show .menu {

            img {
                width: 12px;
                max-width: none;
            }
        }

        .menu-action-text {
            vertical-align: inherit;
        }
    }

    .listitem {
        > div {
            > .float-left {
                float: left;
            }

            > .float-right {
                float: right;
                text-align: right;
            }

            .item-actions {
                .action-show {
                    display: none;
                }

                .action-hide {
                    display: inline;
                }
            }

            .without-actions {
                color: #333;
            }

            .idnumber {
                color: #a1a1a8;
                margin-right: 2em;
            }
        }
        // The category or course is hidden.
        &[data-visible="0"] {
            @extend .text-muted;

            > div {
                > a {
                    @extend .text-muted;
                }

                .item-actions {
                    .action-show {
                        display: inline;
                    }

                    .action-hide {
                        display: none;
                    }
                }
            }
        }

        &.highlight {
            background-color: $body-bg;

            > div,
            > div:hover,
            &[data-selected='1'] > div {
                background-color: $table-bg-hover;
            }
        }
    }

    #course-listing {
        .listitem {
            .categoryname {
                display: inline-block;
                margin-left: 1em;
                color: #a1a1a8;
            }

            .coursename {
                display: inline-block;
            }

            > div {
                padding-left: 1rem;
            }
        }

        > .firstpage .listitem:first-child > div .item-actions .action-moveup,
        > .lastpage .listitem:last-child > div .item-actions .action-movedown {
            display: none;
        }

        .bulk-action-checkbox {
            margin: -2px 6px 0 0;
        }
    }

    #category-listing {
        .listitem.collapsed > ul.ml {
            display: none;
        }

        .listitem {
            > div {
                > .ba-checkbox {
                    width: 2.2em;
                    text-align: center;
                    margin: -1px 0.5em 0 0;
                    padding-top: 2px;
                }
            }

            &.highlight > div > .ba-checkbox {
                background-color: $table-bg-hover;
            }

            &[data-selected='1'] > div > .ba-checkbox {
                margin: 0 0.5em 0 0;
                padding: 0;
                background-color: inherit;
            }

            &:first-child > div .item-actions .action-moveup,
            &:last-child > div .item-actions .action-movedown {
                display: none;
            }
        }

        .course-count {
            color: #a1a1a8;
            margin-right: 2rem;
            min-width: 3.5em;
            display: inline-block;
        }

        .bulk-action-checkbox {
            margin-right: -3px;
        }

        .category-listing > ul > .listitem:first-child {
            position: relative;
        }

        .category-bulk-actions {
            margin: 0 0.5em 0.5em;
            position: relative;
        }
    }

    .detail-pair {
        border-bottom: 1px solid $table-border-color;
        margin: 0 1rem;

        > * {
            display: inline-block;
        }

        .pair-key {
            font-weight: bold;
            vertical-align: top;

            span {
                margin-right: 1rem;
                display: block;
            }
        }

        .pair-value select {
            max-width: 100%;
        }
    }

    .bulk-actions .detail-pair {
        > * {
            display: block;
            width: 100%;
        }
    }

    .listing-pagination {
        text-align: center;

        .yui3-button {
            background-color: $btn-info-bg;
            border: 0;
            margin: 0.4rem 0.2rem 0.45rem;
            font-size: 10.4px;

            &.active-page {
                background-color: $btn-primary-color;
            }
        }
    }

    .listing-pagination-totals {
        text-align: center;

        &.dimmed {
            @extend .text-muted;
            margin: 0.4rem 1rem 0.45rem;
        }
    }

    .select-a-category .notifymessage,
    .select-a-category .alert {
        margin: 1em;
    }
}

#course-category-listings #course-listing .listitem .drag-handle {
    display: none;
}

.jsenabled #course-category-listings #course-listing .listitem .drag-handle {
    display: inline-block;
    margin: 0 6px 0 0;
    cursor: pointer;
}

/** Management header styling **/
.coursecat-management-header {
    vertical-align: middle;

    h2 {
        display: inline-block;
        text-align: left;
    }

    > div {
        display: inline-block;
        float: right;

        > div {
            margin: 10px 0 10px 1em;
            display: inline-block;
        }
    }

    select {
        max-width: 300px;
        cursor: pointer;
        padding: 0.4em 0.5em 0.45em 1em;
        vertical-align: baseline;
        white-space: nowrap;
    }

    .view-mode-selector {
        .moodle-actionmenu {
            white-space: nowrap;
            display: inline-block;
        }

        .moodle-actionmenu[data-enhanced].show .menu a {
            padding-left: 1em;
        }
    }
}

.course-being-dragged-proxy {
    border: 0;
    color: $link-color;
    vertical-align: middle;
    padding: 0 0 0 4em;
}

.course-being-dragged {
    opacity: 0.5;
}

/**
 * Display sizes:
 * Large displays                   1200        +
 * Default displays                  980     1199
 * Tablets                           768      979
 * Small tablets and large phones    481      767
 * Phones                              0      480
 */

@media (min-width: 1200px) and (max-width: 1600px) {
    #course-category-listings.columns-3 {
        background-color: $body-bg;
        border: 0;

        #category-listing,
        #course-listing {
            width: 50%;
        }

        #category-listing > div,
        #course-listing > div,
        #course-detail > div {
            background-color: $body-bg;
        }

        #course-detail {
            width: 100%;
            margin-top: 1em;
        }
    }
}

@media (max-width: 1199px) {
    #course-category-listings.columns-2,
    #course-category-listings.columns-3 {
        border: 0;

        #category-listing,
        #course-listing,
        #course-detail {
            width: 100%;
            margin: 0 0 1em;
        }
    }
}

.page-settings-menu .menubar > a > .icon {
    width: auto;
    height: 32px;
}



.course-content ul li.section {
    position: relative;
}
.course-content ul li.section h3.sectionname {
    background-color: $section-header-bg;
    border-radius: $border-radius;
    border: 1px solid $section-header-border-color;
    color: $section-header-color;
    font-size: 21px;
    padding: 12px 12px 10px 20px;
    position: relative;
    text-transform: uppercase;
    a {
        color: $section-header-color;
        font-size: 21px;
        @include hover-focus {
            text-decoration: none;
        }
    }
    span {
        position: relative;
        z-index: 2;
    }
}

.course-content ul li.section.current {
    h3.sectionname {
        border: 1px solid $section-header-current-border-color;
        color: $section-header-current-color;
        background-color: $section-header-current-bg;
        a {
            color: $section-header-current-color;
        }
    }
    .action-menu.section-actions {
        .dropdown-menu a.dropdown-item {
            color: $section-header-current-actions-color;
        }
    }
}

.course-content .section_action_menu .action-menu.section-actions .dropdown-menu a.dropdown-item

.course-content ul li.section.current:before {
    border-left: 0;
}

.editing .course-content ul.topics li.section .left {
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    width: 100%;
    .section-handle {
        display: none;
    }
}

.editing .course-content ul.topics li.section .side.right {
    position: relative;
    z-index: 3;
}

.quickeditlink .quickediticon i {
    font-size: 13px;
}

.section-modchooser-link.btn-primary a {
    color: $btn-primary-color;
    @include hover-focus {
        text-decoration: none;
        color: $btn-primary-color;
    }
}

.course-content ul.topics li.section .section-toggler {
    cursor: pointer;
    font-size: 26px;
    position: absolute;
    right: 12px;
    top: 10px;
    z-index: 3;
    transition: all 0.2s ease 0s;
}
.course-content ul.topics li.section.toggled {
    .section-toggler {
        transform: rotate(180deg);
    }
    ul.section,
    .addresourcemodchooser,
    .addresourcedropdown,
    .summary {
        display: none;
    }
}

.course-content ul.topics li.section:hover .section_action_menu {
    display: block;
}

.course-content .section_action_menu {
    display: none;
}

.course-content .section_action_menu .action-menu.section-actions {
    .dropdown-toggle {
        display: none;
    }
    .dropdown-menu {
        display:block;
        background-color: transparent;
        border: 0 none;
        margin: 0;
        min-width: auto;
        padding: 0;
        width: auto;
        margin-right: 30px;
        margin-top: 5px;
        &::after {
            display: none;
        }

        a.dropdown-item {
            color: $section-header-actions-color;
            margin: 0;
            text-align: center;
            border: 0 none;
            display: inline;
            float: none;
            font-size: 11px;
            padding: 0;
            @include hover-focus {
                color: $section-header-actions-hover-color;
                background-color: transparent;
            }
            .menu-action-text {
                display: none;
            }
        }
    }
}
.course-content .section li.activity:hover .dropdown-menu {
    display: block;
}
.course-content .action-menu.section-cm-edit-actions {
    .dropdown-toggle {
        display: none;
    }
    .dropdown-menu {
        display:none;
        background-color: transparent;
        border: 0 none;
        margin: 0;
        min-width: auto;
        padding: 0;
        width: auto;
        margin: 1px 8px 0 0;
        &::after {
            display: none;
        }

        a.dropdown-item {
            color: $section-activity-actions-color;
            text-align: center;
            border: 0 none;
            display: inline;
            float: none;
            font-size: 11px;
            padding: 0;
            margin: 0;
            @include hover-focus {
                color: $section-activity-actions-hover-color;
                background-color: transparent;
            }
            .menu-action-text {
                display: none;
            }
        }
    }
}

.editing .section .activity .actions {
    .autocompletion {
        color: $section-activity-actions-color;
        position: absolute;
        right: -15px;
        top: 4px;
        display: none;
    }
}
.editing .section .activity:hover .actions {
    .autocompletion {
        display: block;
    }
}

.section .activity .actions {
    .autocompletion, .togglecompletion {
        margin-top: -2px;
        display: block;
    }
}

.course-content #section-0 .action-menu.section-cm-edit-actions {
    .dropdown-menu {
        margin: 4px 7px 0 0;
    }
}

.course-content #section-0 {
    /*overflow: hidden;*/
    .left.side,
    .right.side {
        display: none;
    }
    .content {
        margin-top: -5rem;
    }
}

.editing .course-content #section-0 {
    .left.side,
    .right.side {
        display: block;
    }
    .content {
        margin: 0;
    }
}
.editing .course-content #section-0.section .activity .actions .autocompletion {
    top: 7px;
}

.activity-filter {
    .sections-toggler {
        cursor: pointer;
        float: right;
        font-size: 22px;
        transition: all 0.2s ease 0s;
        margin-right: 20px;
    }
    .view-toggler,
    .create-sections {
        cursor: pointer;
        float: right;
        font-size: 15px;
        margin-right: 20px;
    }
}

.course-content.toggled {
    .activity-filter {
        .sections-toggler {
            transform: rotate(180deg);
        }
    }
}


/* section-0 styles */
.editing .course-content ul.topics li.section#section-0 {
    padding-top: 0;
    padding-botom: 0;
    .left {
        display: none;
    }
    .accesshide ~ ul.section {
        margin: -1rem 0 1rem;
        padding: 0;
    }
    .section_action_menu .action-menu.section-actions .dropdown-menu {
        /*margin: 0;*/
    }
}

.course-content {
    ul.section {
        .activity {
            .quickeditlink {
                display: none;
            }
            .editing_move {
                display: none;
            }
            &:hover {
                .quickeditlink {
                    display: inline;
                }
                .editing_move {
                    display: block;
                }
            }
        }
    }
    li.section h3.sectionname {
        .quickeditlink {
            display: none;
        }
    }
    li.section {
        &:hover {
            h3.sectionname .quickeditlink {
                display: inline;
            }
        }
    }
}

.course-content-header {
    margin: 0 20px;
}

.course-content-header .nav-tabs .nav-link {
    background-color: transparent;
}
.course-content-header .nav-tabs .nav-link.active {
    background-color: $course-active-tab-bg;
    color: $course-active-tab-color;
}
.editing_groupsnone.menu-action.cm-edit-action {
    display: none;
}

/* modchooser styles */
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle {
    display: none;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .instruction {
    display: none !important;
}

.chooserdialogue-course-modchooser .alloptions .option {
    float: left;
    height: 75px;
    margin-bottom: 0 !important;
    padding: 0 !important;
    text-align: center;
    width: 25%;
    border: 1px solid transparent;
    @include hover-focus {
        background-color: #fff;
        border: 1px solid transparent;
    }
}

.chooserdialogue-course-modchooser .alloptions .option.selected {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    margin-top: 0 !important;
    padding: 0 !important;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .option label {
    border: 0 !important;
    cursor: pointer;
    display: block;
    margin: 0;
    padding: 1em;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option input[type="radio"] {
    display: none !important;
}

.chooserdialogue-course-modchooser .choosercontainer .modicon .icon {
    height: 30px;
    width: 30px;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions {
    max-width: 100% !important;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .typename {
    display: block;
    font: 600 11px/11px $default-font-family;
    margin-top: 4px;
    width: 100%;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .typeadd {
    font-size: 12px;
    padding: 3px 6px;
    position: absolute;
    right: 0.8em;
    top: 0.7em;
    display: none;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option.selected .typeadd {
    display: block;
}

.chooserdialogue-course-modchooser .choosercontainer #chooseform .instruction,
.chooserdialogue-course-modchooser .choosercontainer #chooseform .typesummary {
    display: none !important;
}

/* activity editing form styles */
.format-isf.path-mod .mform #id_general {
    .fitem[data-formgorup-fieldtype="group"] {
        display: none;
    }
}
.course-images-box {
    height: 91px;
    overflow: hidden;
    border: 3px solid transparent;
    padding: 5px;
    cursor: pointer;
    img {
        max-height: 75px;
    }
}
.activity-images-container .bx-wrapper {
    max-width: 100% !important;
}
.course-images-box.checked {
    border: 3px solid #a4c9e0;
    cursor: initial;
}


/* image based course view*/
.primary-course-view.grid-view {
    .section li.activity {
        border-bottom: 0;
        clear: none;
        float: left;
        height: 220px;
        margin: 0 1% 2%;
        position: relative;
        width: 48%;
        padding: 0;
    }
    .section li.activity.dimmed {
        opacity: 0.6;
    }
    .activity img.activityicon {
        display: none;
    }
    .section .activity .availabilityinfo {
        color: #fff;
        background-color: rgba(0,0,0,0.4);
        padding: 1rem;
        margin: 3rem 0 1rem;
    }

    .section .activity .contentafterlink {
        display: none;
    }
    .section .activity .mod-indent-outer {
        display: block;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    li.activity > div, li.activity > div {
        padding: 0 !important;
        height: 100%;
    }
    .section li.activity .activityinstance a.activity-link {
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        left: 0;
        top:0;
    }
    .section li.activity .activityinstance a.dimmed {
        background-color: rgba(255, 255, 255, 0.5);
    }
    .activityinstance a .instancename {
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 0;
        color: #fff;
        padding: .7rem 3.2rem;
        position: absolute;
        text-shadow: none;
        width: 100%;
        display: block;
        margin: 0;
    }

    .activityinstance .dimmed_text .instancename {
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 0;
        color: #fff;
        padding: .7rem 2rem;
        position: absolute;
        text-shadow: none;
        width: 100%;
        display: block;
        margin: 0;
        font-size: 16px;
    }
    .section li.activity:hover .instancename {
        display: block;
    }

    .section .activity .contentwithoutlink {
        background-color: rgba(0, 0, 0, 0.4);
        bottom: 0;
        color: #fff;
        font: 14px/21px $default-font-family;
        max-height: 100%;
        overflow: hidden;
        padding: 0.8rem 1.2rem 0.4rem;
        position: absolute;
        width: 100%;

        p {
            margin-bottom: 0.5rem;
        }
    }

    .section li.activity .fav-action {
        position: absolute;
        font-size: 25px;
        left: 7px;
        z-index: 2;
    }
    .section .activity .actions .autocompletion,
    .section .activity .actions .togglecompletion {
        margin-top: 9px;
        display: block;
        position: absolute;
        right: 12px;
    }

    .section .activity.modtype_label.label {
        background-image: none !important;
        clear: both;
        float: none;
        height: auto;
        width: 100%;
        padding: 0;
    }
    .section .activity.modtype_label.label {
        .contentwithoutlink {
            background-color: transparent;
            bottom: auto;
            color: inherit;
            font: 14px/21px $default-font-family;
            overflow: none;
            padding: 2rem 0;
            position: relative;
            width: 100%;
            border-bottom: 1px solid #e7e7e7;
            border-top: 1px solid #e7e7e7;
        }
    }
}

.primary-course-view.grid-view.columns-3 {
    .section li.activity {
        width: 31.3%;
    }
}

.primary-course-view.grid-view.columns-4 {
    .section li.activity {
        width: 23%;
        height: 180px;
    }
    .section .activity .availabilityinfo {
        padding: 0.7rem;
        margin: 0.7rem 0;
        font-size: 11px;
    }
    .section li.activity .activityinstance a {
        font-size: 14px;
    }
}

.editing .primary-course-view.grid-view {
    .section .activity .actions {
        background-color: rgba(0, 0, 0, 0.4);
        height: 25px;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        display: none;
    }

    .section li.activity:hover .actions{
        display: block;
        .editing_moveright,
        .editing_moveleft {
            display: none;
        }
    }
    .action-menu.section-cm-edit-actions .dropdown-menu {
        margin: 1px 23px 0 0;
    }
    .action-menu.section-cm-edit-actions .dropdown-menu a.dropdown-item {
        color: #fff;
    }
    .section .activity .actions .autocompletion {
        color: #fff;
        right: 0;
    }
    ul.section .activity .editing_move {
        left: 5px;
        top: 1px;
        z-index: 3;
    }
    ul.section .activity.label .editing_move {
        left: 5px;
        top: 0px;
        z-index: 3;
    }

    #section-0 .action-menu.section-cm-edit-actions .dropdown-menu {
        margin: 1px 23px 0 0;
    }
    #section-0.section .activity .actions .autocompletion {
        top: 4px;
    }
    ul.section .activity .quickeditlink {
        color: #fff;
        left: 4px;
        bottom: 9px;
        z-index: 4;
        box-shadow: none;
        position: absolute;
    }
    .section li.activity:hover .quickeditlink {
        box-shadow: none;
    }
    ul.section .activity .quickeditlink .form-control {
        z-index: 4;
        position: absolute;
    }
    .inplaceeditable input {
        left: 5px;
        position: relative;
        bottom: 0;
        z-index: 5;
    }
    .instancename {
        padding: 0.7rem 1rem;
    }
    .section .activity .actions .autocompletion,
    .section .activity .actions .togglecompletion {
        margin-top: -2px;
        right: 0;
    }
    .activityinstance a .instancename {
        padding: 0.7rem 1.2rem 0.7rem 2rem;
    }
    .section .activity .activityinstance {
        bottom: 0;
        padding-right: 0;
        width: 100%;
    }
}

.primary-course-view.list-view {
    .section li.activity {
        background-image: none !important;
    }
    .section li.activity.dimmed {
        opacity: 0.8;
    }
    .section li.activity,
    .section .activity.modtype_label.label {
        padding: 2rem 0;
        border-bottom: 1px solid #e7e7e7;
    }
    .section .activity.modtype_label.label .activity-image {
        display: none;
    }
    .section .label .contentwithoutlink,
    .section .label .activityinstance {
        padding: 5px 32px 0px 32px;
        display: block;
        font: 14px/21px $default-font-family;
        /*max-height: 220px;*/
        overflow: none;
    }
    .section .label.activity .mod-indent-outer {
        float: none;
        width: auto;
        padding:0;
    }
    .activity-image {
        display: block;
        float: left;
        height: auto;
        width: 40%;

        .activity-img-link {
            display: block;
            height: 200px;
        }
    }
    .activity-img-link.dimmed {
        opacity: 0.5;
    }
    .section .activity .mod-indent-outer {
        padding-left: 3rem;
    }
    .mod-indent-outer {
        width: 60%;
        float: left;
    }
    .activity img.activityicon {
        display: none;
    }
    .section li.activity .activityinstance a,
    .section li.activity .activityinstance .instancename {
        text-indent: 0;
        font-size: 22px;
        padding-left: 0;
        font-family: $default-font-family;
    }

    .section .activity .contentafterlink {
        font-size: 14px;
        margin-left: 0;
        margin-top: 1rem;
        max-height: 130px;
        overflow: hidden;
    }
    .section .activity .availabilityinfo {
        font-size: 14px;
        margin-left: 0;
        margin-top: 1rem;
        height: auto;
        background-color: #f5f5f5;
        border: 1px solid #e7e7e7;
        padding: 0.8rem 1.5rem;
        font-size: 13px;
        line-height: 22px;
        font-weight: 600;
        ul {
            padding-left: 25px;
            font-weight: normal;
            margin-top: 5px;
        }
    }
    .section li.activity .fav-action {
        font-size: 23px;
        left: 5px;
    }
    .section .activity .actions .autocompletion,
    .section .activity .actions .togglecompletion {
        margin-top: 5px;
    }
}

.editing .primary-course-view.list-view {
    .section .activity .availabilityinfo,
    .editing .section .activity .contentafterlink {
        margin-left: 0;
    }
    .action-menu.section-cm-edit-actions .dropdown-menu,
    #section-0 .action-menu.section-cm-edit-actions .dropdown-menu{
        margin: -25px 23px 0 0;
    }
    .section .activity .actions .autocompletion,
    #section-0.section .activity .actions .autocompletion {
        right: 0;
        top: -28px;
    }
    .editing .section .activity .contentwithoutlink,
    .editing .section .activity .activityinstance {
        padding-right: 0;
    }
    .section li.activity:hover .actions{
        .editing_moveright,
        .editing_moveleft {
            display: none;
        }
    }
    .section .activity .editing_move {
        left: 3px;
        top: -25px;
    }
}

// quickadd form
.quickadd-formlist {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        width: 33%;
        float: left;
        height: 100px;
        overflow: hidden;
        padding: 7px;
        cursor: pointer;

        .typename {
            color: #00acdf;
            display: block;
            font: 600 12px $default-font-family;
            margin-bottom: 5px;
            margin-top: 0;
            text-align: left;
            width: 100%;
        }
        .summary {
            display: block;
            .modicon {
                float: left;
                padding-right: 10px;
                width: 40px;
            }
            .typesummary {
                background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
                display: block;
                float: left;
                font-size: 11px;
                height: 50px;
                left: 0;
                line-height: 1.5em;
                overflow: hidden;
                padding: 0;
                position: relative;
                text-align: left;
                width: calc(100% - 40px);
                height: 65px;
            }
        }
    }
}
.create-quickadd-form {
    .loader {
        display: block;
        font-size: 28px;
        margin: 40px auto;
        position: relative;
        text-align: center;
    }
}
// editor
.row-fluid.Editor-container .Editor-editor {
    height: 100px;
}
.row-fluid.Editor-container #statusbar {
    background-image: none;
}
.row-fluid.Editor-container #menuBarDiv {
    margin-bottom: 0;
    background-image: none;
    .btn {
        padding: 0.4rem 0.8rem !important;
        i {
            margin-right: 0;
        }
    }
    .dropdown-menu > li > a {
        cursor: pointer;
        display: block;
        padding: 0.2rem 0.8rem;
    }
}

.format-isf.path-grade {
    .page-title {
        display: none;
    }
}
.format-isf.path-grade-report-grader #region-main {
    min-width: 97%;
}

// modal form
/*.modal-content {
    .modal-header {
        position: relative;
        button.close {
            color: #fff;
            opacity:0.8;
            @include hover-focus {
                opacity:1;
            }
            &::after {
                background-color: #e0ab1d;
                content: " ";height: 200%;
                position: absolute;
                top: 0;
                transform: rotate(-45deg);
                width: 200%;
                z-index: -1;
            }
        }
    }
}*/
