/* custom.less */

$btn-prev-color:              #fff !default;
$btn-prev-bg:                 #6f66fc !default;
$btn-prev-border:             #6f66fc !default;

$btn-next-color:              #fff !default;
$btn-next-bg:                 #6f66fc !default;
$btn-next-border:             #6f66fc !default;

$btn-review-color:              #fff !default;
$btn-review-bg:                 #6f66fc !default;
$btn-review-border:             #6f66fc !default;

.btn.pseudotabs-btn-prev{
  background-color: $btn-prev-bg;
  border-color: $btn-prev-border;
  color: $btn-prev-color;
}
.btn.pseudotabs-btn-next{
  background-color: $btn-next-bg;
  border-color: $btn-next-border;
  color: $btn-next-color;
}
.btn.pseudotabs-btn-review{
  background-color: $btn-review-bg;
  border-color: $btn-review-border;
  color: $btn-review-color;
}
.card-block {

}

ul{-webkit-margin-start: 0.4rem;}
ul.initialbargroup{ display: inline-block; padding:0;}
ul.initialbargroup li{ display: inline-block;}

.frontpage-course-list-all{
  text-align: left;
  margin-left: 0!important;
  margin-right: 0!important;
  .coursebox{
    display: inline-block;
    margin: 2px 1px;
    max-width: 380px;
    width: calc(25% - 2px);
    padding:0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    transform: translateZ(0px);
    transition-duration: 0.3s;
    transition-property: all;
    border-radius: 4px;
    opacity:0.8;
    a{
      padding:0.8rem;
      display: block;
      color: #fff;
      h4{
        font-size: 0.9em;
        overflow: hidden;
        text-align: center;
        text-decoration: none;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
        font-weight: 600;
        opacity:0.8;
        margin: 0;
        color: #ffffff;
      }
      h4.coursecat{
        font-size: 0.8em;
      }
      h4.course{
        padding-left: 15px;
        padding-right: 15px;
      }
      .courseicon{
        text-align: center;
        font-size: 40px;
        padding: 10px 0;
      }
    }
    a:hover{
      text-decoration: none;
    }
    a.like-course{
      left: 0;
      margin:0.5rem 0.8rem;
      padding: 0;
      position: absolute;
      top: 0;
    }
  }
  .coursebox:hover{
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    opacity:1;
  }
}
.frontpage-course-list-enrolled .paging-morelink{ display: none;}

.pagelayout-frontpage{
  .card.card-block{
    padding:0;
    border: none;
    background: none;
    margin: 0 -20px 20px;

    .primary-carousel ~ .frontpage-course-list-all{
      margin: 20px 20px 0;
    }
  }
  #region-main#region-main{
    margin-top: 0;
    .page-title{
      display: none;
    }
  }

  #coursesearchbox{
    border-bottom-right-radius: 0;
    border-right: medium none;
    border-top-right-radius: 0;
    height:45px;
    border-color: #95a5a6;
  }
  #isfsearchcourses{
    background-color: #95a5a6;
    border-bottom-left-radius: 0;
    border-color: #95a5a6;
    border-top-left-radius: 0;
    color: #fff;
    height: 45px;
  }
  #isfsearchcourses:hover{
    background-color: #798d8f;
    border-color: #798d8f;
  }
}
.primary-carousel{
  .carousel-indicators {
    bottom: 0;
    margin-bottom: 5px;
  }
  .carousel-item{
    text-align: center;
    img{
      display: inline-block;
    }
  }
  .carousel-caption{
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    padding-bottom: 10px;
    right: 0;
    padding-top: 10px;
    min-height: 55px;
  }
  .carousel-control.left{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
  }
  .carousel-control.right{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);
  }
  .carousel-control{
    span{
      position: absolute;
      top: 50%;
      font-size: 30px;
    }
  }
}

@media (max-width: 767px) {
  .frontpage-course-list-all{
    .coursebox{
      width: calc(50% - 2px);
      max-width: 100%;
    }
  }
}
@media (max-width: 380px) {
  .frontpage-course-list-all{
    .coursebox{
      width: 100%;
    }
  }
}

.path-admin .nav-tabs {
    margin-bottom: 1rem;
}

.moodle-dialogue-base{
  .chooserdialogue-course-modchooser{
    width: 850px!important;max-width: 100%;
    #chooseform #chooserform .alloptions{
      background-color: #fff; padding:1%;
      .option{
        height:auto;position: relative;float: none;width: 100%;display: inline-block;text-align: left;
        .typesummary{
          background: none;display: block!important;float: left;font-size: 11px;height: 50px;left: 0;line-height: 1.5em;overflow: hidden;padding: 0;position: relative;text-align: left;width: calc(100% - 40px);}
        .modicon{
          float: left;padding-right: 10px;width: 40px;
          img{
            padding:0;
          }
        }
      }
      .option.selected{
        background-color: #f6f6f6;
      }
      .option.advanced{
        display: none;
      }
      .category-box.advanced{
        display: none;
      }
    }
  }
}
.moodle-dialogue-base .chooserdialogue-course-modchooser { position: fixed;width: 95% !important; height:95% !important; top: 2.5% !important; left:2.5% !important;}
/*.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle:first-child:after{color: #00acdf;content: "/";font-size: 20px;}*/
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle{ display: inline-block;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle .typename{color:#00acdf;font: 400 22px $default-font-family;padding: 0 15px;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle.first-load:first-child .typename,
.chooserdialogue-course-modchooser .choosercontainer #chooseform .moduletypetitle .typename.active{ color: #76c126;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .typename{display: block;font: 600 12px $default-font-family;margin-bottom: 5px;margin-top: 0;text-align: left;width: 100%; color: #00acdf;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .typename i{font-size: 10px;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .link-box{padding-left: 40px;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .example{ float: left;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option .help{float: right;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .modulecat span{color: #6b6b6b;font-size: 18px;padding: 0 1rem;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .option:empty{ display: none!important;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .moduletypeitems{column-width: 200px;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .moduletypeitems.resources{ display: none;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .category-box{ display: inline-block;}
.chooserdialogue-course-modchooser .toggle-advanced {color: #00acdf; cursor: pointer;}
.chooserdialogue-course-modchooser .toggle-advanced span {font-family: $default-font-family; font-size: 12px;}

.moodle-dialogue-content h1 {font-size: 18px;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-hd{margin-top: -50px;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-hd .yui3-widget-buttons{margin-top: 49px;overflow: hidden;padding: 5px 10px 45px 40px;z-index: 1;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-hd .yui3-widget-buttons:after{background-color: #e0ab1d;content: " ";height: 200%;position: absolute;top: -90%;transform: rotate(-45deg);width: 200%;z-index: -1;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-hd .yui3-widget-buttons .closebutton{ color: #fff; opacity:0.8;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-hd .yui3-widget-buttons .closebutton:hover{ opacity:1;}
.chooserdialogue-course-modchooser .moodle-dialogue-content,
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd,
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd .choosercontainer,
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd .choosercontainer > div,
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd .choosercontainer > div form,
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd .choosercontainer > div form .options{height: 100%;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd .choosercontainer > div form .options .alloptions{height: 100% !important;max-height: 100% !important;}
.chooserdialogue-course-modchooser .moodle-dialogue-content .moodle-dialogue-bd #toggle-advanced{ color: #00acdf;cursor: pointer;}

#adminsettings .settingsform h2 {display: none;}
.chooserdialogue-course-modchooser .choosercontainer #chooseform .submitbuttons {
    display: none;
}

.pagelayout-frontpage #region-main .card.card-block{margin-bottom: 0;}
.pagelayout-frontpage [data-region="blocks-column"]{width: 100%; float: none;background-color: #fff;border-top: 1px solid #ccc;padding-top: 25px;}
.pagelayout-frontpage #region-main.has-blocks{width: calc(100% - 20px - 20px); float: none;}
.pagelayout-frontpage #block-region-side-pre aside{ padding:0;margin: 0!important;}

.gradingform .gradeform .grade_gradebook{ display: none;}
.gradingform .gradeform #grade_gradebook_label{ cursor: pointer;}
.gradingform .gradeform #grade_gradebook_label.collapsed .expanded{ display: none;}
.gradingform .gradeform #grade_gradebook_label.expanded .collapsed{ display: none;}

.clear {clear: both;float: none;}

@media (min-width: 1200px) {
  .chooserdialogue-course-modchooser .choosercontainer #chooseform .alloptions .moduletypeitems{column-width: 300px;}

  .moodle-dialogue-base{
    .chooserdialogue-course-modchooser{
      #chooseform #chooserform .alloptions{
        .option{
          .typesummary{
            height: auto;
            max-height: 65px;
          }
        }
      }
    }
  }
}

/*  blog styles  */
.path-blog #intro {padding: 0;}
.path-blog .forumaddnew {text-align: right;}
.path-blog .forumaddnew input{margin:0;}
#page-mod-forum-discuss .discussioncontrol.displaymode {padding-right: 0;}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol {float: right;margin: 0; width: auto;}
#page-mod-forum-discuss .discussioncontrols .discussioncontrol input[type="submit"], #page-mod-forum-discuss .discussioncontrols .discussioncontrol input, #page-mod-forum-discuss .discussioncontrols .discussioncontrol select {margin-bottom:0 !important; margin-left: 5px;}
.path-blog .forumpost .row .options .link {float: left !important;}
.path-blog .forumpost .row .options .link a {margin: -2px 3px 0 0 !important;}
.path-blog .forumpost { border: 1px solid #e3e3e3; background: #f5f5f5; border-radius: 4px; margin-bottom: 20px; min-height: 20px; padding: 12px 10px 8px; position:relative; margin-bottom:15px; box-shadow: none;}
.path-blog .controlscontainer .singleselect { margin-bottom: 5px;}
.path-blog .forumpost .left.picture {padding:4px 0 0 4px;}
.path-blog .forumpost .picture a{border: 3px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;display: inline-block; padding:0;}
.path-blog .forumpost .picture img{ width:35px; height: 35px; border: 1px solid #F5F5F5; border-radius: 50%; margin:0;}
.path-blog .forumpost .comment-list .picture img{ width:23px; height: 23px; border: 1px solid #F5F5F5; border-radius: 50%; margin:0;}
.path-blog .forumpost .subject { font: 500 17px/27px $default-font-family; padding: 0 115px 0 10px; color:#333; text-align:left;}
.path-blog .forumpost .author { font-size: 12px; padding: 0 20px 0 10px; color:#777; text-align:left; font-family: $default-font-family;}
.path-blog .forumpost .forum-post-rating .ratinginput { height: 25px;font: 12px/12px $default-font-family; margin-bottom: 2px; padding: 0 7px;}
.path-blog .forumheaderlist .discussionsubscription>a>img {width: 15px; padding: 0;}
.path-blog .forumpost .content {color: #333; font: 14px/21px $default-font-family;  text-align:left; padding-bottom:5px; margin-left: 10px;}
.path-blog .forumpost .content p{margin: 0 0 5px;  text-align:left;}
.path-blog .forumpost .content .commands {text-align: right;}
.path-blog .forumpost .row .options {margin-left:0; margin-top:5px;}
.path-blog .forumpost .row .options .author {color: #555;float: left; font: 12px $default-font-family; width: 40%;padding-top:4px; text-align:left;}
.path-blog .forumpost  .row .options .author a {color: #777;font: bold 12px Arial;}
.path-blog .forumpost  .row .options .commands {float:right;}
.path-blog .forumpost  .row .options .link {float:right;}
.path-blog .forumpost .maincontent .left {padding: 0;}
.path-blog div.discussionsubscription {position: absolute;right: 40px;top: 45px;}
.path-blog div.discussionsubscription .discussiontoggle img {display: none;}
.path-blog div.discussionsubscription .discussiontoggle,
.path-blog .forumpost .commands a,
.path-blog .forumpost  .row .options .link a {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); cursor: pointer; display: inline-block; font-size: 10px; font-weight: 500; line-height: 20px; margin-bottom: 0; padding: 0 12px;  text-align: center; text-transform: uppercase; vertical-align: middle; margin-left: -10px; border-radius: 3px;}
.path-blog div.discussionsubscription .discussiontoggle:hover,
.path-blog .forumpost .commands a:hover,
.path-blog .forumpost  .row .options .link a:hover { @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); text-decoration:none;}
.path-blog .commands .likes {color: #555; display: inline-block; font-size: 12px;}
.path-blog .forumpost .commands a.liked, .path-mod-forum .forumpost .row .options .link a.liked {background-color:  rgba(32, 130, 199, 1); border-color: #2082c7;}
.path-blog .forumpost .commands a.helpful, .path-mod-forum .forumpost .row .options .link a.helpful {background-color:  rgba(189, 54, 47, 1); border-color: #bd362f;}
.path-blog .forumpost .commands a.liked:hover, .path-mod-forum .forumpost .row .options .link a.liked:hover {background-color:  rgba(32, 130, 199, 0.8); border-color: #2082c7;}
.path-blog .forumpost .commands a.helpful:hover, .path-mod-forum .forumpost .row .options .link a.helpful:hover {background-color:  rgba(189, 54, 47, 0.8); border-color: #bd362f;}

.comment-message .comments-actions {text-align: right;}
.comment-message .comments-actions a {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); cursor: pointer; display: inline-block; font-size: 10px; font-weight: 500; line-height: 20px; margin-bottom: 0; padding: 0 12px;  text-align: center; text-transform: uppercase; vertical-align: middle; margin-left: 5px; border-radius: 3px;}
.comment-message .comments-actions a:hover { @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); text-decoration:none;}
.comment-message .comments-actions .likes {color: #555; display: inline-block; font-size: 12px;}
.comment-message .comments-actions a.liked {background-color:  rgba(32, 130, 199, 1); border-color: #2082c7;}
.comment-message .comments-actions a.helpful {background-color:  rgba(189, 54, 47, 1); border-color: #bd362f;}
.comment-message .comments-actions a.liked:hover {background-color:  rgba(32, 130, 199, 0.8); border-color: #2082c7;}
.comment-message .comments-actions a.helpful:hover {background-color:  rgba(189, 54, 47, 0.8); border-color: #bd362f;}

.path-blog div.discussionsubscription .discussiontoggle,
.path-blog .discussion-nav li {padding: 4px 10px;}
.path-blog .forumpost .row .options .link a {margin:0 3px 0 25px;}
.path-blog .page-content #notice {margin-bottom:25px;}
.path-blog .forumpost.up .left.picture { margin-top: -5px;}
.path-blog .forumpost.up .row .options .author { margin-left: 8px; margin-top: -10px;}
.path-blog .forumthread { border-bottom: 1px solid #e7e7e7; color: #444; display: block; font: 14px $default-font-family; padding: 8px 0;}
.path-blog .forumpost .star-rating {position: absolute;right: 0; top: 6px;}
.path-blog .forumthread a{font: bold 14px $default-font-family;}
.path-blog .mform {margin-top:10px;}
.path-blog .prune-form {background-color: #ffffff; border: 1px solid #e7e7e7; margin-bottom: 25px; padding: 1%; text-align:left; width:98%;}
.forumpost .attachments a {display: inline-block; margin-bottom: 5px;}
.forumpost .content .attachments, .forumpost .options .footer { padding: 0 0 10px; text-align: left;}
.forumpost .content .attachments, .forumpost .options .footer a { display: inline-block; margin-top: 4px; margin-left: 10px;}
.path-blog .header-forum {background-color: #ffffff; border: 1px solid #e7e7e7; margin-bottom: 25px; padding: 1%; text-align:left; width:98%;}
.path-blog .header-forum table td {vertical-align:middle; padding:4px;}
.path-blog .header-forum table .picture a{ border: 4px solid rgba(91, 155, 180, 0.4); border-radius: 50%; box-shadow: 0 0 1px #FFFFFF;display: inline-block; padding:0;}
.path-blog .header-forum table .picture  img{ border: 1px solid #F5F5F5; border-radius: 50%; margin:0;}
.path-blog .header-forum table .header.replies {text-align:center;}
.path-blog .header-forum table th {padding:3px;}
.path-blog .header-forum table .topic > a {display: block; font: 13px Arial; margin-top: 16px;}
.path-blog .header-forum table .author > a {display: block; font: 13px $default-font-family; margin-top: 12px;}
.path-blog .header-forum table .replies {width:70px;}
.path-blog .header-forum table .replies > a {display: block; font:    14px Arial; margin-top: 16px;}
.path-blog .header-forum table td.lastpost {padding-top: 8px;}
.path-blog .forumheaderlist thead .header th.discussionsubscription, .path-mod-forum .forumheaderlist tbody .discussion
td.discussionsubscription {width: 25px;}
.path-blog .forumheaderlist tr.important td {background-color: #f9f9f9;}
.forumheaderlist .discussionimportanttoggle {color: #777; cursor: pointer;}
.forumheaderlist .discussionimportanttoggle.active {color: #0090d9;}
.path-blog .comment-link span {font-size: 13px;}
.path-blog .page-header-image, .path-blog .page-header-headings {display:none;}
.path-blog .addbloglink {margin-bottom: 20px; text-align: right;}
.path-blog .addbloglink a {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); border-radius: 3px; cursor: pointer; display: inline-block; padding: 7px 20px;  text-align: right; vertical-align: middle;}
.path-blog .addbloglink a:hover  { @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); text-decoration:none;}
.comment-area {padding: 7px 0;}
.comment-area textarea {color: grey; min-height: 50px; min-width: 100%; border: 1px solid #ccc; border-radius: 3px; padding: 0.5rem 0.8rem;}
.comment-area .fd a {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); border-radius: 3px; cursor: pointer; display: inline-block; font-size: 10px; font-weight: 500; line-height: 20px; margin-bottom: 0; padding: 0 12px;  text-align: center; text-transform: uppercase; vertical-align: middle;}
.comment-area .fd a:hover {@include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border); text-decoration:none;}
.comment-message .picture {margin-right: 8px;}
.path-blog .comment-list li {margin: 2px 2px 5px;border-top: 1px solid #ddd;}
.path-blog .comment-message .picture {width: 27px;}
.path-blog .forumpost .comment-message .picture a {border: 2px solid rgba(91, 155, 180, 0.4);margin: 3px 0 0; padding: 0; width: 27px;}
#page-mod-forum-view #region-main {position: relative;}
.path-blog .blog_entry .tags a i {margin-left: 5px;  }
.blog-actions .addbloglink, .blog-actions .publishstate-filter-box, .blog-actions .admin-filter-box {float: right; margin-left: 5px;}
.blog-actions .admin-filter.form-control {padding: 0.4rem; height: 2.5rem !important;}
.blog-main-box {padding: 1.3rem; margin-top: -2px; min-height: 44.9rem;}
.path-blog .card.card-block {padding: 0 !important;}

#intro.generalbox{border: 1px solid #ccc;border-radius: 0.15rem;margin-bottom: 1rem;padding: 1rem;}
#intro.generalbox > .no-overflow{ overflow: unset;}
#intro.generalbox > .no-overflow > h3{background-color: #f5f5f5;border-bottom: 1px solid rgb(204, 204, 204);font-size: 1.2rem;margin: -1rem -1rem 1rem; padding: 1rem;}

.comment-list li{ position: relative;}
.comment-list li + li::after {background-color: #ccc;content: "";display: block;height: 13px;left: 75px;position: absolute;top: -10px;width: 1px;}
.comment-list .comment-message .comment-message-meta{background-color: #f0f0f0;border: 1px solid #ccc;margin-left: 40px;padding: 5px 10px;border-radius: 2px 2px 0 0;}
.comment-list .comment-message .comment-message-meta .picture{margin-left: -55px; position: relative;}
.comment-list .comment-message .comment-message-meta .picture::after {background-color: #f0f0f0;border-bottom: 1px solid #ccc;border-left: 1px solid #ccc;content: "";display: block;height: 10px;position: absolute;right: -22px;top: 6px;transform: rotate(45deg);width: 10px;}
.comment-list .comment-message .text{margin-left: 40px;padding: 10px;background-color: #fcfcfc; border-radius: 0 0 2px 2px;border: 1px solid #ccc;border-top: none;}
.comment-list .comment-message .text .comment-delete {right: 10px;top: 3px;}
.path-blog .comment-list li{border: none;}
.blog_entry .comment-ctrl{border-top: 1px solid #ccc;margin-top: 5px;padding-top: 5px;}
.path-blog .forumpost .comment-message .picture a{border: none;margin: 0;width: auto; border-radius:0;}
.path-blog .forumpost .comment-list .picture img {border-radius: 5px;height: 33px;margin: 0;width: 33px;}

.course-content ul.weeks li.section .left { padding-left: 0; padding-top: 10px; position: relative; text-align: right; z-index: 1;}
.path-mod-assign .editor_atto_menu_expand .icon + .icon,
.path-mod-assign .editor_atto_menu_icon .icon + .icon,
.path-mod-assign .gradeform .editor_atto_wrap .editor_atto + .editor_atto,
.path-mod-assign #page-content [data-region="grade-panel"] [data-region="popout-button"] + [data-region="popout-button"]{ display: none;}
.path-grade-report-grader .gradeparent{ overflow: hidden;}
.path-grade-report-grader .gradeparent .floater.sideonly{ display: block;}
.path-grade-report-grader .gradeparent .floater.sideonly.avg{ display: none;}
.path-grade-report-grader .gradeparent .floater.heading{margin-top: 35px;}


/*.forumpost{border: none}
.forumpost .header{margin: 0;}
.forumpost .header .topic{background-color: #f5f5f5;border: 1px solid #ccc;border-radius: 2px 2px 0 0;padding: 5px 10px;}
.forumpost .header .topic .subject{ display: inline-block;}
.forumpost .header .topic .author{ display: inline-block;font-size: 13px;margin-left: 15px;}
.forumpost .maincontent{border-left: 1px solid #ccc;border-right: 1px solid #ccc;margin-left: 48px!important;margin-right: 0;width: auto;}
.forumpost .side{border-bottom: 1px solid #ccc;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;margin: 0 0 0 48px!important;padding: 5px;width: auto;}
.path-mod-forum .indent{ position: relative;}
.path-mod-forum .indent::after {background-color: #ccc;content: "";display: block;height: 23px;left: 75px;position: absolute;top: -17px;width: 1px;}

.path-blog .forumpost{border: none;background: none;}
.path-blog .forumpost .side{border: none;}
.path-blog .forumpost .maincontent{border-bottom: 1px solid #ccc;border-bottom-left-radius: 2px;border-bottom-right-radius: 2px;}
.path-blog .forumpost .content{margin: 0;padding: 10px;}
.path-blog .forumpost .left.picture{ padding:0;}
.path-blog .forumpost .subject{ padding-left:10px;padding-right: 0;}
.path-blog .forumpost .star-rating {position: absolute;right: 12px;top: 14px;}*/


@media all and (max-width: 960px){
    .path-blog .forumpost .content .commands {
        margin: 20px 0 20px 0;
    }
    .forumpost a.comment-link {
        margin-top:10px;
    }
    .forumpost a.comment-link span[id*="comment-link-text"]{
        font-size: 15px;
    }
    .comment-area .fd a {
        padding: 4px 10px;
    }
    .comment-list {
        margin-top:15px;
    }
    .comment-list .text_to_html {
        font-size: 15px;
        margin:6px 0 12px 0;
    }
    .comment-list .user a {
        font-size:13px;
    }
    .comment-list .time {
        display: block;
    }
    .comment-list > li {
        margin-bottom:14px;
    }
}

@media screen and (max-width: 726px){
    .path-mod-forum .forumpost,
    .path-blog .forumpost {
        margin-top: 30px;
    }
    .path-mod-forum .forumpost .left.picture,
    .path-blog .forumpost .left.picture {
        position: absolute;
        top:-33px;
        left:50%;
        padding:0 !important;
        margin-left:-21px;
    }
    .path-mod-forum .forumpost .row .topic,
    .forumpost .row .topic {
        margin-left:0;
    }
    .forumpost .row .topic .subject,
    .forumpost .row .topic .author {
        padding:0 !important;
        margin:8px 0 !important;
    }
    .forumpost .row .topic .subject {
        margin-top: 38px !important;
    }
     .path-blog .forumpost .row .topic .subject {
        margin-top: 15px !important;
    }
    .path-mod-forum .forumpost .row .topic .subject {
        margin-top: 68px !important;
    }
    .path-mod-forum .forumpost .row .star-rating {
        position: absolute;
        right: 50%;
        top: 16px;
        margin-right: -50px;
    }
    .path-blog .forumpost .star-rating {
        position: relative;
        right: 0;
        top: 0;
    }
    .blog_entry .audience {
        border: 1px solid #ccc;
        border-radius: 5px;
        color: #555;
        font-size: 13px;
        margin-top: -22px;
        padding: 0 7px;
        position: absolute;
        right: 0;
        text-align: right;
    }
    body.path-blog .page .forumpost .content.content {
        width: 100%;
    }
    .path-blog .forumpost .content {
        margin-left: 0;
    }
    .path-blog .forumpost .content .no-overflow{
        border-bottom: 1px dashed #aaa;
        padding-top: 15px;
    }
    .path-blog .forumpost .content p {
        margin-bottom:15px;
        line-height: 22px;
    }
}
