/**
 * This file contains the styles required to make the footer sticky.
 */
$footer-min-height: 48px !default;
$footer-background-color: #5fa7d0 !default;
$footer-border-color: #A4C9E0 !default;
$footer-border-width: 4px !default;
$footer-color: #fff !default;

html,
body {
    height: 100%;
}

#page-wrapper {
    min-height: 100%;
    /*padding-bottom: $spacer;*/
    margin-bottom: -$footer-min-height;
}

#page-wrapper::after {
    content: "";
    display: block;
    min-height: $footer-min-height;
}

#page-footer {
    min-height: $footer-min-height;
    background-color: $footer-background-color;
    border-top: $footer-border-width solid $footer-border-color;
    text-align: left;
    color: $footer-color;
    font-size: 11px;
    font-weight: 600;
    z-index: 1000;
    position: relative;
    a {
        color: $footer-color;
        font-size: 11px;
        font-weight: 600;
    }
}
