{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_sb_timeline/timeline_nav_toggler

    This template will render the block_sb_timeline popover for the navigation bar.

    Classes required for JS:
    * none

    Data attributes required for JS:
    * All data attributes are required

    Context variables required for this template:
    * userid The logged in user id
    * urls The URLs for the popover

    Example context (json):
    {
        "userid": 3,
        "urls": {
            "preferences": "http://www.moodle.com"
        }
    }

}}
{{< core/popover_region }}
    {{$classes}}popover-region-timeline{{/classes}}
    {{$attributes}}id="nav-timeline-popover-container" data-userid="{{userid}}"{{/attributes}}

    {{$togglelabel}}{{#str}} toggletimeline, block_sb_timeline {{/str}}{{/togglelabel}}
    {{$togglecontent}}
        <i class="fa fa-sitemap" title="{{#str}} toggletimeline, block_sb_timeline {{/str}}"></i>
    {{/togglecontent}}

{{/ core/popover_region }}
